<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>数据统计</li>
    <li>出库统计</li>
    <li>基本内容</li>
  </ul>
</div>
<div class="rightinfo">
  <form action="" method="post">
    <ul class="tools">
      <li> 所属区域：
        <select id="province">
          <option value="0">请选择省份</option>
          <option>北京</option>
          <option>江苏</option>
          <option>天津</option>
        </select>
        <select id="city">
          <option value="0">请选择城市</option>
          <option>北京</option>
          <option>南京</option>
          <option>天津</option>
        </select>
      </li>
      <li> 仓库名称:
        <input type="text" id="name" />
      </li>
      <li> 时间:
        <input type="date" id="begin"/>-<input type="date" id="end" />
      </li>

      <li class="subBut" onclick="query()"><img src="../../../static/images/t06.png" />查询</li>
    </ul>
    <table class="tablelist">
      <thead>
        <tr>
          <th>序号</th>
          <th>仓库名称</th>
          <th>负责人</th>
          <th>所属区域</th>
          <th>出库数量</th>
          <th>金额</th>
          <th>出库明细</th>
        </tr>
      </thead>
      <tbody id="datalist">
        <tr>
          <td>1</td>
          <td>南京21号仓库</td>
          <td>朱元璋</td>
          <td>江苏南京</td>
          <td>5</td>
          <td>￥9,876,582</td>
          <td>
          	<a href="/deliveryViewStatis" class="tablelink">查看详情</a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>武汉71号仓库</td>
          <td>柳传志</td>
          <td>湖北武汉</td>
          <td>8</td>
          <td>￥9,876,582</td>
          <td>
          	<a href="deliveryView.html" class="tablelink">查看详情</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagin">
      <div class="message">共<i class="blue" id="totalCount">1256</i>条记录，当前显示第&nbsp;<i class="blue" id="pageNum">2&nbsp;</i>页</div>
      <ul class="paginList" id="pagin">
        <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
        <li class="paginItem"><a href="javascript:;">1</a></li>
        <li class="paginItem current"><a href="javascript:;">2</a></li>
        <li class="paginItem"><a href="javascript:;">3</a></li>
        <li class="paginItem"><a href="javascript:;">4</a></li>
        <li class="paginItem"><a href="javascript:;">5</a></li>
        <li class="paginItem more"><a href="javascript:;">...</a></li>
        <li class="paginItem"><a href="javascript:;">10</a></li>
        <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
      </ul>
    </div>
  </form>
</div>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
<script>

  $(function () {

    $.ajax({
      url:"/statis/province",
      method: "POST",
      data: {},
      success:function (pro) {

        // console.log(pro);
        var pstr = '  <option value="0">请选择省份</option>\n';

        for (let i = 0; i <pro.length ; i++) {
          pstr+='<option value="'+pro[i].id+'">'+pro[i].pname+'</option>';
        }
        $("#province").html(pstr)
      }
    })
    $("#province").blur(queryCity)

    query(1);
  })


  function queryCity() {
    var pid = $("#province").val();
    if (pid != 0) {
      $.ajax({
        url: "/statis/city",
        method: "POST",
        data: {pid: pid},
        success: function (city) {

          // console.log(city);
          var cstr = '  <option value="0">请选择城市</option>\n';

          for (let i = 0; i < city.length; i++) {
            cstr += '<option value="' + city[i].id + '">' + city[i].cname + '</option>';
          }
          $("#city").html(cstr)
        }
      })
    }else{
      $.ajax({
        url: "/statis/city",
        method: "POST",
        data: {pid: pid},
        success: function (city) {

          // console.log(city);
          var cstr = ' <option value="0">请先选择省</option>';


          $("#city").html(cstr)
        }
      })
    }

  }

  function query(pageNum) {

    var cname = $("#name").val();
    var pid = $("#province").val();
    var cid = $("#city").val();
    var begin =$("#begin").val();
    var end = $("#end").val();
    $.ajax({
      url:"/WareByCkStatisPage",
      method: "POST",
      data: {pageNum:pageNum,cname:cname,pid:pid,cid:cid,begin:begin,end:end},
      success:function (rel) {
        console.log(rel)
        var str = '';

        for (let i = 0; i <rel.resultData.data.length ; i++) {

          var sum = 0 ;
          for (let j = 0; j < rel.resultData.data[i].ckWarehouses.length ; j++) {
            for (let k = 0; k <rel.resultData.data[i].ckWarehouses[j].statisCDetails.length ; k++) {
                  sum += rel.resultData.data[i].ckWarehouses[j].statisCDetails[k].prototal
            }

          }
          var ware = rel.resultData.data[i];
          str +='  <tr>\n' +
                  '          <td>'+ware.id+'</td>\n' +
                  '          <td>'+ware.cname+'</td>\n' +
                  '          <td>'+ware.users.uname+'</td>\n' +
                  '          <td>'+(ware.province.pname)+(ware.city.cname)+'</td>\n' +
                  '          <td>'+ware.ckWarehouses.length+'</td>\n' +
                  '          <td>￥'+sum+'</td>\n' +
                  '          <td>\n' +
                  '          \t<a href="/deliveryViewStatis?wid='+ware.id+'" class="tablelink">查看详情</a>\n' +
                  '          </td>\n' +
                  '        </tr>'
        }

        $("#datalist").html(str);

        $("#totalCount").html(rel.resultData.totalCount);
        $("#pageNum").html(rel.resultData.pageNum);
        var begin = rel.resultData.pageNum - 5;
        var end = rel.resultData.pageNum + 4;
        if (begin < 1) {
          begin = 1;
          if (rel.resultData.totalPage < 10) {
            end = rel.resultData.totalPage;
          } else {
            end = 10;
          }
        }
        if (end > rel.resultData.totalPage) {
          end = rel.resultData.totalPage;
          if (begin <= 0) {
            begin = 1;
          } else {
            begin = rel.resultData.totalPage - 9;
          }
        }
        var page = '';
        page += '<li class="paginItem" id="up"><a onclick="query(' + (rel.resultData.pageNum - 1) + ')"><span class="pagepre"></span></ a></li>';
        for (var i = begin; i <= end; i++) {
          if (i == rel.resultData.pageNum) {
            page += '<li class="paginItem current"><a onclick="query(' + i + ')">' + i + '</ a></li>';
          } else {
            page += '<li class="paginItem"><a onclick="query(' + i + ')">' + i + '</ a></li>';
          }
        }
        page += '<li class="paginItem" id="down"><a onclick="query(' + (rel.resultData.pageNum + 1) + ')"><span class="pagenxt"></span></ a></li>';
        $("#pagin").html(page);
        if (rel.resultData.pageNum == 1) {
          // $("#up").removeAttr("onclick");
          $("#up").attr("disabled", true).css("pointer-events", "none")
        }
        if (rel.resultData.pageNum == rel.resultData.totalPage) {
          // $("#down").removeAttr("onclick");
          $("#down").attr("disabled", true).css("pointer-events", "none")
        }



      }
    })
  }


</script>