<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../../../static/js/jquery.js"></script>
  <script>
    $(function () {
      $.ajax({
        url:"/purchase/newTypeView",
        method:"post",
        data:{},
        success:function (rel) {
          $("#createName").val(rel.resultData.createName)
          $("#createTime").val(rel.resultData.createTime)
        }
      })
      $.ajax({
        url:"/purchase/findBrand",
        method:"post",
        data:{},
        success:function (rel) {
          var str = '                  <option value="0">请选择</option>\n';
          for (let i = 0; i < rel.resultData.length; i++) {
            str += '                  <option value="' + rel.resultData[i].brandId + '">' + rel.resultData[i].brandName + '</option>'
          }
          $("#brandId").html(str);
        }
      })
    })
    function saveType() {
      var val = $("#createTime").val();
      var val1 = $("#typeName").val();
      var val2 = $("#typeStatus").val();
      var val3 = $("#brandId").val();
      if (val3 == "0"){
        alert("品牌不能为空！");
      }else if (val1 == ""){
        alert("商品类型名称不能为空！");
      } else {
        $.ajax({
          url:"/purchase/saveType",
          method:"post",
          data:{createTime:val,typeName:val1,typeStatus:val2,brandId:val3},
          success:function () {
            location.href = "/purchase/productType/ctypeAll";
          }
        })
      }
    }
  </script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>采购管理</li>
    <li>商品类型管理</li>
    <li>添加</li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>商品类型信息</span></div>
  <ul class="forminfo">
    <li>
      <label>品牌名称</label>
      <select id="brandId" name="brandId" class="dfselect">
      	  <option>请选择</option>
          <option>联想</option>
          <option>海尔</option>
        </select>
      <i>必选</i>
    </li>
    <li>
      <label>商品类型名称</label>
      <input id="typeName" name="typeName" type="text" class="dfinput"/>
      <i>必填，不能超过50个字符</i>
    </li>
    <li>
      <label>状态</label>
      <select id="typeStatus" name="typeStatus" class="dfselect">
          <option value="1">可用</option>
          <option value="0">不可用</option>
        </select>
      <i>必选</i>
    </li>
    <li>
      <label>创建人</label>
      <input id="createName" name="createName" type="text" value="马云" readonly="readonly" class="roinput" />
      <i>不能编辑</i>
    </li>
    <li>
      <label>创建时间</label>
      <input id="createTime" name="createTime" type="text" value="2017-11-18 15:36:10" readonly="readonly" class="roinput" />
      <i>不能编辑</i>
    </li>
    <li>
      <label>&nbsp;</label>
      <input name="" type="button" class="btn" value="确定" onclick="saveType()"/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="" type="button" class="btn" value="返回" onclick="window.location.href='/purchase/productType/ctypeAll'"/>
    </li>
  </ul>
</div>
</body>
</html>
