<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>职位管理</title>
  <script type="text/javascript" src="../../../static/js/jquery.js"></script>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/laydate/laydate.js"></script>
<script type="text/javascript">
  //查部门
  function querydepts(){
    $.ajax({
      url:"/usersdeptlist",
      type:"post",
      dataType:"json",
      data:{},
      success:function (dat) {
        let resultData = dat.resultData;
        let str = ``
        for (let i = 0; i < resultData.length; i++) {
          let resultDatum = resultData[i];
          str += `<option value="${resultDatum.deptId}">${resultDatum.deptName}</option>`
        }
        str += `<option value="" selected>请选择</option>`
        $("#deptid").html(str)
      }
    })
  }

  //添加
  function add(){
      $.ajax({
          url:"/positionadd",
          type:"post",
          dataType:"json",
          data:$("#form1").serializeArray(),
          success:function (dat) {
              window.location.href="/sys/position/positionList"
          }
      })
  }

  function fun1(){
      let sum = 0;
      $(".must").each(function(index,value){
          if ($(this).val() === "") {
          }else {
              sum += 1
          }
      })
      if (sum === 2) {
          let jobName = $("#jobName").val();
          $.ajax({
              url:"/haveornoposition",
              type:"post",
              dataType:"json",
              data:{jobName:jobName},
              success:function (dat) {
                  if (!dat) {
                      $("#but1").removeClass("btn_add_no")//条件满足样式改变
                      $("#but1").attr("disabled",false)
                  }
              }
          })
      }else {
          $("#but1").addClass("btn_add_no")//条件不满足样式改变
          $("#but1").attr("disabled",true)
      }
  }

  $(function () {

      fun1()
      $(".must").blur(function () {
          fun1()
      })

    querydepts()
  })
</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="../users/userList.html">系统管理</a></li>
    <li><a href="deptList.html">职位管理</a></li>
    <li><a href="#">添加</a></li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>职位信息</span></div>
  <ul class="forminfo">
<form id="form1">
    <li>
      <label>职位名称</label>
      <input id="jobName" name="jobName" type="text" class="dfinput must"/>
      <i>必填，不能超过30个字符</i>
    </li>
    <li> <label>所属部门：</label>
      <select class="dfselect must" name="jobDeptId" id="deptid">
<!--        <option>请选择部门</option>-->
<!--        <option value="">研发</option>-->
<!--        <option value="">销售</option>-->
<!--        <option value="">财务</option>-->
      </select>
    </li>
</form>
    <li>
      <label>&nbsp;</label>
      <input id="but1" disabled="disabled" name="" onclick="add()" type="button" class="btn" value="确认保存"/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="" type="button" class="btn" value="返回"  onclick="window.history.go(-1);"/>
    </li>
  </ul>
</div>
</body>
</html>
