<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../../static/js/jquery.js"></script>
    <style type="text/css">

        #treeMenu ul{
            margin-left: 50px;
        }

        #treeMenu a{
            font-size: 14px;
        }

        .hidden{
            display: none;
        }
    </style>

    <script type="text/javascript">

        $(function(){
            $("#treeMenu").children("li").children(":checkbox").click(function(){
                var flag = $(this).attr("checked");
                $(this).siblings("ul").show();
                $(this).siblings("ul").children("li").children(":checkbox").attr("checked", flag);
            }).siblings("a").click(function(){
                $(this).siblings("ul").toggle();
            });

            $(".ss").click(function () {
                let flag = $(this).attr("checked")
                if (flag){
                    $(this).parent().parent().prev().prev().attr("checked", flag)
                }else{
                    let f = true
                    $(this).parent().parent().find(".ss").each(function () {
                        if ($(this).attr("checked")){
                            f = false
                            return false
                        }
                    })
                    if (f){
                        $(this).parent().parent().prev().prev().attr("checked", false)
                    }
                }
            });

        });


        //修改
        function update(){
            $.ajax({
                url:"/updategrant",
                type:"post",
                dataType:"json",
                data:$("#form1").serializeArray(),
                success:function (dat) {
                    window.location.href="/sys/position/positionList"
                }
            })
        }
    </script>
</head>
<body>
    <div class="place"> <span>位置：</span>
        <ul class="placeul">
            <li><a href="positionList">系统管理</a></li>
            <li><a href="positionList">职位管理</a></li>
            <li><a href="#">赋权</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle"><span>职位赋权</span></div>
        <form id="form1">
            <input style="display: none" name="jobId" th:value="${jobId}">
        <ul id="treeMenu" class="forminfo" >
            <li th:each="u : ${moduleList}">
                <input  type="checkbox" th:checked="${u.getIsper()}" name="moduleId" th:value="${u.getModuleId()}"/>
                <a th:text="${u.getModuleRname()}"></a>

                <ul class="hidden" >
                    <li th:each="s:${u.getSonlist()}">
                        <input name="moduleId"  type="checkbox" onclick="" th:checked="${s.getIsper()}" th:value="${s.getModuleId()}" class="ss"/>
                        <a th:text="${s.getModuleRname()}"></a>
                    </li>
                </ul>
            </li>

        </ul>
        </form>
        <input onclick="update()" name="" type="button" class="btn" value="确认赋权"/>
        <input name="" type="button" class="btn" value="返回" onclick="window.history.go(-1);"/>

    </div>
</body>
</html>