<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>采购管理</li>
    <li>采购单管理</li>
    <li>采购单详情</li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>采购单信息</span></div>
  <ul class="forminfo" id="forminfo">

  </ul>
  <table class="tablelist">
      <thead>
        <tr>
          <th>序号</th>
          <th>品牌</th>
          <th>类型</th>
          <th>型号</th>
          <th>厂商</th>
          <th>数量</th>
          <th>单位</th>
          <th>单价</th>
          <th>金额</th>
        </tr>
      </thead>
      <tbody id="datalist">

      </tbody>
  </table>
  <div style="margin-top:20px; margin-left:20px;">
  <input name="" type="button" class="btn" value="返回" onclick="window.history.go(-1);"/>
  </div>
</div>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
<script>

  function getParameter(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = location.search.substr(1).match(reg);
    if (r != null) {
      return (r[2]);
    }
    return null;
  }

  $(function () {
        var puid = getParameter("puid");
    $.ajax({
      url: "/PurchaseDetailsStatisPage",
      method: "POST",
      data: {puid:puid},
      success: function (rel) {
        console.log(rel)
        let data = rel[0];
        var str = '';
        var sum = 0 ;
        var statu ;
        if (data.checkStatus == '1'){
          statu ='未审核';
        }else if (data.checkStatus == '2'){
          statu = '审核中';
        }else if (data.checkStatus == '3'){
          statu = '审核通过';
        }else {
          statu = '审核不通过';
        }
        for (let i = 0; i < rel.length ; i++) {
         sum += rel[i].totalMoney;
        }
        str += '<li>\n' +
                '      <label>采购单编号</label>\n' +
                '      <cite>'+data.purchaseId+'</cite>\n' +
                '    </li>\n' +
                '    <li>\n' +
                '      <label>订购时间</label>\n' +
                '      <cite>'+data.purchaseTime+'</cite>\n' +
                '    </li>\n' +
                '    <li>\n' +
                '      <label>总金额</label>\n' +
                '       <cite>￥'+sum+'</cite>\n' +
                '    </li>\n' +
                '    <li>\n' +
                '      <label>操作人</label>\n' +
                '      <cite>'+data.uname+'</cite>\n' +
                '    </li>\n' +
                '    <li>\n' +
                '      <label>审核状态</label>\n' +
                '      <cite>'+statu+'</cite>\n' +
                '    </li>\n' +
                '    <li>\n' +
                '      <label>审核意见</label>\n' +
                '      <cite>'+data.checkOpinion+'</cite>\n' +
                '    </li>\n' +
                '    <li>\n' +
                '      <label>审核人</label>\n' +
                '      <cite>'+data.checkname+'</cite>\n' +
                '    </li>\n' +
                '    <li>\n' +
                '      <label>审核时间</label>\n' +
                '      <cite>'+data.checkTime+'</cite>\n' +
                '    </li>'


        $("#forminfo").html(str);
        var str1='';
        for (let i = 0; i < rel.length ; i++) {

          str1 += '        <tr>\n' +
                  '          <td>'+(i+1)+'</td>\n' +
                  '          <td>'+rel[i].brandName+'</td>\n' +
                  '          <td>'+rel[i].typeName+'</td>\n' +
                  '          <td>'+rel[i].productModel+'</td>\n' +
                  '          <td>'+rel[i].firmName+'</td>\n' +
                  '          <td>'+rel[i].number+'</td>\n' +
                  '          <td>'+rel[i].productUnit+'</td>\n' +
                  '          <td>'+rel[i].productPrice+'</td>\n' +
                  '          <td>'+rel[i].totalMoney+'</td>\n' +
                  '        </tr>'
        }
        $("#datalist").html(str1);

      }
    })

  })
</script>