<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>客户管理</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
<script type="text/javascript">
function deltipOpen() {
	$("#deltip").fadeIn(200);
}
function deltipClose() {
	$("#deltip").fadeOut(200);
}
function examinetipOpen() {
	$("#examinetip").fadeIn(200);
}
function examinetipclose() {
	$("#examinetip").fadeOut(200);
}
</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>采购管理</li>
    <li>采购单管理</li>
    <li>基本内容</li>
  </ul>
</div>
<div class="rightinfo">
  <form action="" method="post">
    <ul class="tools">
      <li> 采购单编号:
        <input type="text" />
      </li>
      <li> 采购时间:
        <input type="text" />-<input type="text" />
      </li>
      <li> 金额:
        <input type="text" class="stinput" />-<input type="text" class="stinput" />
      </li>
      <li> 审核状态：
        <select>
          <option>请选择</option>
          <option value="1">未审核</option>
          <option value="2">审核中</option>
          <option value="3">审核通过</option>
          <option value="4">审核未通过</option>
        </select>
      </li>
      <li class="subBut" onclick="window.location.href='purchaseList.html'"><img src="../../../static/images/t06.png" />查询</li>
      <li class="subBut" onclick="window.location.href='purchaseAdd.html'"><img src="../../../static/images/t01.png" />添加</li>
    </ul>
    <table class="tablelist">
      <thead>
        <tr>
          <th>序号</th>
          <th>采购单编号</th>
          <th>采购时间</th>
          <th>金额</th>
          <th>操作人</th>
          <th>审核状态</th>
          <th>审核人</th>
          <th>审核时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>CG201701270001</td>
          <td>2017-01-25 15:05:05</td>
          <td>￥9,876,582</td>
          <td>关羽</td>
          <td>未审核</td>
          <td></td>
          <td></td>
          <td>
            <a href="purchaseUpdate.html" class="tablelink">修改</a>
            <a href="javascript:void(0);" class="tablelink" onclick="deltipOpen()">删除</a>
            <a href="javascript:void(0);" class="tablelink" onclick="examinetipOpen()">提交审核</a>
            </td>
        </tr>
        <tr>
          <td>2</td>
          <td>CG201701270002</td>
          <td>2017-01-25 15:05:05</td>
          <td>￥9,876,582</td>
          <td>关羽</td>
          <td>审核中</td>
          <td></td>
          <td></td>
          <td>
          	<a href="purchaseView.html" class="tablelink">查看详情</a>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>CG201701270003</td>
          <td>2017-01-25 15:05:05</td>
          <td>￥9,876,582</td>
          <td>关羽</td>
          <td>审核通过</td>
          <td>曹操</td>
          <td>2017-01-30 12:05:05</td>
          <td>
          	<a href="purchaseView.html" class="tablelink">查看详情</a>
            <a href="../../storage/stock/stockView.html" class="tablelink">入库详情</a>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>CG201701270004</td>
          <td>2017-01-25 15:05:05</td>
          <td>￥9,876,582</td>
          <td>关羽</td>
          <td>审核不通过</td>
          <td>曹操</td>
          <td>2017-01-30 12:05:05</td>
          <td>
            <a href="purchaseUpdate.html" class="tablelink">修改</a>
            <a href="javascript:void(0);" class="tablelink" onclick="examinetipOpen()">提交审核</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagin">
      <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
      <ul class="paginList">
        <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
        <li class="paginItem"><a href="javascript:;">1</a></li>
        <li class="paginItem current"><a href="javascript:;">2</a></li>
        <li class="paginItem"><a href="javascript:;">3</a></li>
        <li class="paginItem"><a href="javascript:;">4</a></li>
        <li class="paginItem"><a href="javascript:;">5</a></li>
        <li class="paginItem more"><a href="javascript:;">...</a></li>
        <li class="paginItem"><a href="javascript:;">10</a></li>
        <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
      </ul>
    </div>
  </form>
  <!-- 删除提示框 -->
  <div id="deltip" class="tip">
    <div class="tiptop"><span>提示信息</span><a onclick="deltipClose()"></a></div>
    <div class="tipinfo"> <span><img src="../../images/ticon.png" /></span>
      <div class="tipright">
        <p>是否确认删除此条信息？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite> </div>
    </div>
    <div class="tipbtn">
      <input name="" type="button"  class="sure" value="确定" onclick="deltipClose()" />
      &nbsp;
      <input name="" type="button"  class="cancel" value="取消" onclick="deltipClose()" />
    </div>
  </div>
  
  <!-- 审批提示框 -->
  <div id="examinetip" class="tip">
    <div class="tiptop">
    	<span>提示信息</span><a onclick="examinetipclose()"></a>
    </div>
    <div class="tipinfo1"> 
    	
        部门：
            <select class="dfselect">
            	<option>请选择</option>
                <option>销售部</option>
                <option>采购部</option>
                <option>财务部</option>
            </select>
			<p/>
            职位：
            <select class="dfselect">
            	<option>请选择</option>
                <option>部门经理</option>
                <option>部门副经理</option>
                <option>部门主管</option>
            </select>
   			<p/>
            职位：
            <select class="dfselect">
            	<option>请选择</option>
                <option>刘备</option>
                <option>曹操</option>
            </select>
			<p/>
    </div>
    <div class="tipbtn">
      <input name="" type="button"  class="sure" value="确定" onclick="examinetipclose()" />
      &nbsp;
      <input name="" type="button"  class="cancel" value="取消" onclick="examinetipclose()" />
    </div>
  </div>
</div>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
