<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../../../static/js/jquery.js"></script>
  <script type="text/javascript">
    function customDetail() {
      $.ajax({
        url:"/market/customerDetail",
        method:"post",
        data:{},
        success:function (result) {
          var customer = result.resultData;
          let gender = customer.sex;
          if(customer.sex==1){
            gender = "男";
          }else if(customer.sex==2){
            gender = "女";
          }
          let province = customer.province;
          let city = customer.city;
          let address = province+city;
          let status = customer.status;
          if(customer.status==1){
            status = "可用";
          }else if(customer.status==2){
            status = "不可用";
          }
          var str = '<div class="formtitle"><span>客户信息</span></div>\n' +
                  '  <ul class="forminfo">\n' +
                  '    <li>\n' +
                  '      <label>姓名</label>\n' +
                  '      <cite>'+customer.customname+'</cite>\n' +
                  '    </li>\n' +
                  '    <li>\n' +
                  '      <label>性别</label>\n' +
                  '      <cite>'+gender+'</cite>\n' +
                  '    </li>\n' +
                  '    <li>\n' +
                  '      <label>所属公司名称</label>\n' +
                  '      <cite>'+customer.company+'</cite>\n' +
                  '    </li>\n' +
                  '    <li>\n' +
                  '      <label>联系方式</label>\n' +
                  '      <cite>'+customer.telephone+'</cite>\n' +
                  '    </li>\n' +
                  '    <li>\n' +
                  '      <label>联系地址</label>\n' +
                  '      <cite>'+customer.homeaddress+'</cite>\n' +
                  '    </li>\n' +
                  '    <li>\n' +
                  '      <label>所属区域</label>\n' +
                  '      <cite>'+address+'</cite>\n' +
                  '    </li>\n' +
                  '    <li>\n' +
                  '      <label>描述</label>\n' +
                  '      <cite>'+customer.distract+'</cite>\n' +
                  '    </li>\n' +
                  '    <li>\n' +
                  '      <label>状态</label>\n' +
                  '      <cite>'+status+'</cite>\n' +
                  '    </li>\n' +
                  '    <li>\n' +
                  '      <label>创建人</label>\n' +
                  '      <cite>'+customer.createname+'</cite>\n' +
                  '    </li>\n' +
                  '    <li>\n' +
                  '      <label>创建时间</label>\n' +
                  '      <cite>'+customer.createtime+'</cite>\n' +
                  '    </li>';
          if (customer.panduan == 1){
            str +='   <li>\n' +
            '      <label>&nbsp;</label>\n' +
            '      <input name="" type="button" class="btn" value="返回" onclick="window.location.href=\'/market/customer/ulist?pageNum='+customer.pageNum+'\'"/>\n' +
            '    </li>\n' +
            '  </ul>';
          }else if (customer.panduan == 2){
            str += '   <li>\n' +
                    '      <label>&nbsp;</label>\n' +
                    '      <input name="" type="button" class="btn" value="返回" onclick="window.location.href=\'/market/customerBrowse/ulist?pageNum='+customer.pageNum+'\'"/>\n' +
                    '    </li>\n' +
                    '  </ul>';
          }

          $(".formbody").html(str);
        }
      })
    }

    $(function () {
      customDetail();
    })
  </script>

</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>营销管理</li>
    <li>客户管理</li>
    <li>客户详情</li>
  </ul>
</div>
<div class="formbody">

</div>
</body>
</html>
