<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>客户管理</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
<script type="text/javascript">
  var pageNum = 0;
  var pageSize = 0;
  var companylike = '';
  var customnamelike = '';
  var status = 0;
  var distribution = 0;
  var address = 0;
  var provinceid = 0;
//查询对应的职位和名字
function queryJidAndName(id,pageNum) {
  $.ajax({
    url:"/market/job",
    method:"post",
    data:{id:id,pageNum:pageNum},
    success:function (result) {
      var jobs = result.resultData;
      var s = '<option>请选择</option>';
      for (let i = 0; i < jobs.length; i++) {
        s += '<option value="'+jobs[i].jobId+'">'+jobs[i].jobName+'</option>'
      }
      $("#jid").html(s);
      var job = document.getElementById("jid");
      job.onchange = function () { //当选项改变时触发
        jid = this.options[this.selectedIndex].value; //获取option的value
        jname = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
        $.ajax({
          url:"/market/username",
          method:"post",
          data:{jid:jid},
          success:function (result) {
            var users = result.resultData
            var str1 = '<option>请选择</option>'
            for (let i = 0; i < users.length; i++) {
              str1 += '<option value="'+users[i].uid+'">' + users[i].uname + '</option>';
            }
            $("#jn").html(str1);
          }
        })
      }
    }
  })
}
//查询所有的省和对应的市
function queryProvinceAndCity(){
    $.ajax({
        url:"/market/province",
        method:"post",
        data:{},
        success:function (result) {
            var province = result.resultData;
            var str = '<option>请选择省份</option>';
            for (let i = 0; i < province.length; i++) {
                str += '<option value="' + province[i].id + '">' + province[i].pname + '</option>';
            }
            $("#province").html(str);
            var province = document.getElementById("province");
            province.onchange = function () { //当选项改变时触发
                pid = this.options[this.selectedIndex].value; //获取option的value
                pname = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
                $.ajax({
                    url:"/market/city",
                    method:"post",
                    data:{pid:pid},
                    success:function (result) {
                        var city = result.resultData
                        var str1 = '<option>请选择城市</option>'
                        for (let i = 0; i < city.length; i++) {
                            str1 += '<option value="' + city[i].id + '">' + city[i].cname + '</option>';
                        }
                        $("#city").html(str1);
                    }
                })
            }
        }
    })
}
//模糊查询
function queryPart() {
  companylike = $("#companylike").val();
  customnamelike = $("#customnamelike").val();
  status = $("#status").val();
  distribution = $("#distribution").val();
  provinceid = $("#province").val();
  address = $("#city").val();
  if (status == "请选择"){
    status = 0;
  }
  if (distribution == "请选择"){
    distribution = 0;
  }
  if (address == "请选择城市"){
    address = 0;
  }
  if (provinceid == "请选择省份"){
    provinceid = 0;
  }
  queryPage(pageNum,pageSize);
}
//分页
function queryPage(pageNum,pageSize){
  $.ajax({
    url:"/market/customerPage",
    method:"post",
    data:{pageNum:pageNum,pageSize:pageSize,companylike:companylike,customnamelike:customnamelike,status:status,distribution:distribution,address:address,provinceid:provinceid},
    success:function (page) {
      var totalCount = page.totalCount;
      var pageNum = page.pageNum;
      var totalPage = page.totalPage;
      var pageSize = page.pageSize;
      var beforpageNum = pageNum - 1;
      if (beforpageNum <= 0){
        beforpageNum = 1;
      }
      var afterpageNum = pageNum + 1;
      if (afterpageNum >= totalPage){
        afterpageNum = totalPage;
      }

        let begin;
        let end;
        if (totalPage < 10){
            begin = 1;
            end = totalPage;
        }else{
            begin = pageNum - 5;
            end = pageNum + 4;

            if (begin < 1){
                begin = 1;
                end = 10;
            }
            if (end > totalPage){
                end = totalPage;
                begin = end - 9;
            }
        }

      var str1 = '<thead>\n' +
              '        <tr>\n' +
              '          <th>序号</th>\n' +
              '          <th>客户姓名</th>\n' +
              '          <th>性别</th>\n' +
              '          <th>联系电话</th>\n' +
              '          <th>所属公司</th>\n' +
              '          <th>所属区域</th>\n' +
              '          <th>状态</th>\n' +
              '          <th>创建时间</th>\n' +
              '          <th>创建人</th>\n' +
              '          <th>分配时间</th>\n' +
              '          <th>客服人员</th>\n' +
              '          <th>操作</th>\n' +
              '        </tr>\n' +
              '      </thead>\n' +
              '      <tbody>';
      var list = page.data;
      for (let i = 0; i < list.length; i++) {
        var xuhao = 0;
        if (pageNum > 1){
          xuhao = (pageNum-1)*pageSize+(i+1)
        }else {
          xuhao = i+1;
        }
        let gender = list[i].sex;
        if(list[i].sex==1){
          gender = "男";
        }else if(list[i].sex==2){
          gender = "女";
        }
        let province = list[i].province;
        let city = list[i].city;
        let address = province+city;
        let status = list[i].status;
        if(list[i].status==1){
          status = "可用";
          str1 += '<tr>\n' +
                  '          <td>'+xuhao+'</td>\n' +
                  '          <td>'+list[i].customname+'</td>\n' +
                  '          <td>'+gender+'</td>\n' +
                  '          <td>'+list[i].telephone+'</td>\n' +
                  '          <td>'+list[i].company+'</td>\n' +
                  '          <td>'+address+'</td>\n' +
                  '          <td>'+status+'</td>\n' +
                  '          <td>'+list[i].createtime+'</td>\n' +
                  '          <td>'+list[i].createname+'</td>\n' +
                  '          <td>'+list[i].distractime+'</td>\n' +
                  '          <td>'+list[i].servicename+'</td>\n' +
                  '          <td>\n' +
                  '          \t<a href="/market/customerView?id='+list[i].customid+'&pageNum='+pageNum+'&panduan='+1+'" class="tablelink">查看详情</a>\n' +
                  '            <a href="/market/updateView?id='+list[i].customid+'&pageNum='+pageNum+'" class="tablelink">修改</a>\n' +
                  '            <a href="javascript:void(0)" class="tablelink" onclick="tipOpen(\'是否确认注销此条信息？\','+list[i].customid+','+pageNum+')">注销</a>\n' +
                  '            <a href="javascript:void(0);" class="tablelink" onclick="allottipOpen('+list[i].customid+','+pageNum+')">分配</a>\n' +
                  '          </td>\n' +
                  '        </tr>';
        }else if(list[i].status==2){
          status = "不可用";
          str1 += '<tr>\n' +
                  '          <td>'+xuhao+'</td>\n' +
                  '          <td>'+list[i].customname+'</td>\n' +
                  '          <td>'+gender+'</td>\n' +
                  '          <td>'+list[i].telephone+'</td>\n' +
                  '          <td>'+list[i].company+'</td>\n' +
                  '          <td>'+address+'</td>\n' +
                  '          <td>'+status+'</td>\n' +
                  '          <td>'+list[i].createtime+'</td>\n' +
                  '          <td>'+list[i].createname+'</td>\n' +
                  '          <td>'+list[i].distractime+'</td>\n' +
                  '          <td>'+list[i].servicename+'</td>\n' +
                  '          <td>\n' +
                  '          \t<a href="/market/customerView?id='+list[i].customid+'&pageNum='+pageNum+'&panduan='+1+'" class="tablelink">查看详情</a>\n' +
                  '            <a href="javascript:void(0)" class="tablelink" onclick="tipOpen(\'是否确认恢复此条信息？\','+list[i].customid+','+pageNum+')">恢复</a>\n' +
                  '            <a href="javascript:void(0);" class="tablelink" onclick="allottipOpen('+list[i].customid+','+pageNum+')">分配</a>\n' +
                  '          </td>\n' +
                  '        </tr>';
        }
      }
      str1 += '</tbody>';
      $(".tablelist").html(str1);


      var str2 = '<div class="message">共<i class="blue">'+totalCount+'</i>条记录，当前显示第&nbsp;<i class="blue">'+pageNum+'&nbsp;</i>页</div>\n' +
              '      <ul class="paginList">\n' +
              '        <li class="paginItem"><a href="javascript:;" onclick="queryPage('+beforpageNum+','+pageSize+')"><span class="pagepre"></span></a></li>'

      for (let i = begin; i <= end; i++) {
          if (i == pageNum){
              str2 += '<li class="paginItem current"><a href="javascript:;" onclick="queryPage('+(i)+','+pageSize+')">'+(i)+'</a></li>';
          }else {
              str2 += '<li class="paginItem"><a href="javascript:;" onclick="queryPage('+(i)+','+pageSize+')">'+(i)+'</a></li>';
          }
      }
      str2 += '<li class="paginItem"><a href="javascript:;" onclick="queryPage('+afterpageNum+','+pageSize+')"><span class="pagenxt"></span></a></li>\n' +
              '      </ul>';
      $(".pagin").html(str2);
    }
  })
}
//打开修改状态提示框
function tipOpen(content,id,pageNum) {
    $(".tipright p").text(content);
    $("#tip").fadeIn(200);
    $.ajax({
      url:"/market/saveId",
      method:"post",
      data:{id:id,pageNum:pageNum},
      success:function (result) {

      }
    })
  }
//修改客户状态
function updateStatus() {
    $.ajax({
      url:"/market/updateStatus",
      method:"post",
      data:{},
      success:function (result) {
        pageNum = result.resultData;
        tipClose();
        queryPage(pageNum,pageSize)
      }
    })
    // location.reload();
  }
//关闭修改状态提示框
function tipClose() {
    $("#tip").fadeOut(200);
  }
//打开分配提示框
function allottipOpen(id,pageNum) {
    $("#allottip").fadeIn(200);
    queryJidAndName(id,pageNum);
  }
//分配客服人员
function dist() {
  var sid = $("#jn").val();
  var jid = $("#jid").val();
  if (sid != "请选择" && jid != "请选择"){
    $.ajax({
      url:"/market/disService",
      method:"post",
      data:{serviceid:sid},
      success:function (result) {
        pageNum = result.resultData;
        queryPage(pageNum,pageSize);
        allottipclose();
      }
    })
  }else {
    alert("请选择分配人员。")
  }
}
//关闭分配提示框
function allottipclose() {
    $("#allottip").fadeOut(200);
    var sn = '<option>请选择</option>';
    $("#jn").html(sn);
  }
$(function () {
  // queryCustom();
  var pageNum = 0;
  var pageSize = 0;
  queryPage(pageNum,pageSize);
  queryProvinceAndCity();
})
</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>营销管理</li>
    <li>客户管理</li>
    <li>基本内容</li>
  </ul>
</div>
<div class="rightinfo">
  <form action="" method="post">
    <ul class="tools">
      <li> 公司名称:
        <input type="text" size="12" id="companylike" />
      </li>
      <li> 客户姓名:
        <input type="text" size="12" id="customnamelike" />
      </li>
      <li> 所属区域：
        <select id="province">
        </select>
        <select id="city">
          <option>请选择城市</option>
        </select>
      </li>
      <li> 状态：
        <select id="status">
          <option>请选择     </option>
          <option value="1">可用</option>
          <option value="2">不可用</option>
        </select>
      </li>
      <li> 是否分配：
        <select id="distribution">
          <option>请选择     </option>
          <option value="1">已分配</option>
          <option value="2">未分配</option>
        </select>
      </li>
      <li class="subBut" onclick="queryPart()"><img src="../../../static/images/t06.png" />查询</li>
      <li class="subBut" onclick="window.location.href='/market/addView'"><img src="../../../static/images/t01.png" />添加</li>
    </ul>
    <table class="tablelist">

    </table>
    <div class="pagin">

    </div>
  </form>
  <!-- 提示框 -->
  <div id="tip" class="tip">
    <div class="tiptop"><span>提示信息</span><a onclick="tipClose()"></a></div>
    <div class="tipinfo"> <span><img src="../../../static/images/ticon.png" /></span>
      <div class="tipright">
        <p></p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite> </div>
    </div>
    <div class="tipbtn">
      <input name="" type="button"  class="sure" value="确定" onclick="updateStatus()" />
      &nbsp;
      <input name="" type="button"  class="cancel" value="取消" onclick="tipClose()" />
    </div>
  </div>
  <!-- 审批提示框 -->
  <div id="allottip" class="tip">
    <div class="tiptop">
    	<span>提示信息</span><a onclick="allottipclose()"></a>
    </div>
    <div class="tipinfo1"> 
    	
        部门：
            <select class="dfselect" disabled="disabled">
            	<option>请选择</option>
                <option selected="selected">市场部</option>
                <option>采购部</option>
                <option>财务部</option>
            </select>
			<p/>
            职位：
            <select class="dfselect" id="jid">
            	<option>请选择</option>
            </select>
   			<p/>
            姓名：
            <select class="dfselect" id="jn">
            	<option>请选择</option>
            </select>
			<p/>
    </div>
    <div class="tipbtn">
      <input name="" type="button"  class="sure" value="确定" onclick="dist()" />
      &nbsp;
      <input name="" type="button"  class="cancel" value="取消" onclick="allottipclose()" />
    </div>
  </div>
</div>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
