<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>日志管理</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
<script type="text/javascript" src="../../../static/laydate/laydate.js"></script>
<script type="text/javascript">
function tipOpen(content) {
	$(".tipright p").text(content);
	$("#tip").fadeIn(200);
}
function tipClose() {
	$("#tip").fadeOut(200);
}

let uId = ""
let uname = ""
let jcontent = ""
let moduleRname = ""
let logStartTime = ""
let logEndTime = ""
function query(pagenum){
  $.ajax({
    url:"/loglist",
    type:"post",
    dataType:"json",
    data:{pageNum:pagenum,uId:uId,uname:uname,jcontent:jcontent,moduleRname:moduleRname,logStartTime:logStartTime,logEndTime:logEndTime},
    success:function (dat) {
      let resultData = dat.resultData.data;
      //------------------------------------------------------------------------------------------------------------------------
      let totalPage = dat.resultData["totalPage"];//总页数
      let totalCount = dat.resultData.totalCount;//总条数
      let pageNum = dat.resultData.pageNum;//当前页0
      //上一页
      let pageBefore = pageNum-1;
      //下一页
      let pageNext;
      if (pageNum + 1 > totalPage) {
        pageNext = totalPage;
      }else {
        pageNext = pageNum+1;
      }
      //------------------------------------------------------------------------------------------------------------
      let begin;
      let end;
      if (totalPage < 10){
        begin = 1;
        end = totalPage;
      }else{
        begin = pageNum - 5;
        end = pageNum + 4;

        if (begin < 1){
          begin = 1;
          end = 10;
        }
        if (end > totalPage){
          end = totalPage;
          begin = end - 9;
        }
      }
      //------------------------------------------------------------------------------------------------------------
      //------------------------------------------------------------------------------
      let str = ``
      for (let i = 0; i < resultData.length; i++) {
        let resultDatum = resultData[i];
        str += `<tr>
          <td>${i+1}</td>
          <td>${resultDatum.uid}</td>
          <td>${resultDatum.uname}</td>
          <td>${resultDatum.moduleRname}</td>
          <td>${resultDatum.jcontent}</td>
          <td>${resultDatum.jdate}</td>
          <td>
            <a href="/logView/${resultDatum.jid}" class="tablelink">查看日志信息</a>
          </td>
        </tr>`
      }
      $("#loglist").html(str)
      $('.tablelist tbody tr:odd').addClass('odd');

      //------------------------------------------------------------------------------------------------------------------------
      //拼分页
      let str1 = `<li class="paginItem"><a href="javascript:query(${pageBefore});"><span class="pagenxt"></span></a></li>`

      for (let i = begin; i < end; i++) {
        if (pageNum==i){
          str1 += `<li class="paginItem current"><a href="javascript:query(${i});">${i}</a></li>`
        }else {
          str1 += `<li class="paginItem"><a href="javascript:query(${i});">${i}</a></li>`
        }
      }
      str1 += ` <li class="paginItem"><a href="javascript:query(${pageNext});"><span class="pagenxt"></span></a></li>`

      $("#pag").html(str1)

      let str2 = `共<i class="blue">${totalCount}</i>条记录，当前显示第&nbsp;<i class="blue">${pageNum}&nbsp;</i>页`
      $("#pag2").html(str2)
      //------------------------------------------------------------------------------------------------------------------------
    }
    
  })
}
$(function () {

  // let pageNum = 1
  query(1)


  $("#search").click(function () {
    uId = $("#uId").val().trim();
    uname = $("#uname").val().trim();
    jcontent = $("#jcontent").val().trim();
    moduleRname = $("#moduleRname").val().trim();
    logStartTime = $("#logStartTime").val().trim();
    logEndTime = $("#logEndTime").val().trim();
    query(1)

  })
})

</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="../users/userList.html">系统管理</a></li>
    <li><a href="#">日志管理</a></li>
  </ul>
</div>
<div class="rightinfo">
  <form action="" method="post">
    <ul class="tools">
      <li> <label>员工编号:</label>
        <input id="uId" type="text" />
      </li>
      <li> <label>员工姓名:</label>
        <input id="uname" type="text" />
      </li>
      <li> <label>日志内容：</label>
        <input id="jcontent" type="text" />
      </li>
      <li> <label>操作模块：</label>
        <input id="moduleRname" type="text" />
      </li>
      <li> <label>记录时间:</label>
        <input type="text" class="laydate-icon" id="logStartTime"/>
        <label>-</label>
        <input type="text" class="laydate-icon" id="logEndTime"/>
      </li>
      <li class="subBut" id="search" onclick=""><img src="../../../static/images/t06.png" />查询</li>
    </ul>
    <table class="tablelist">
      <thead>
        <tr>
          <th>序号</th>
          <th>员工编号</th>
          <th>员工姓名</th>
          <th>操作模块</th>
          <th>日志内容</th>
          <th>记录时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="loglist">
<!--        <tr>-->
<!--          <td>1</td>-->
<!--          <td>9527</td>-->
<!--          <td>唐寅</td>-->
<!--          <td>用户管理</td>-->
<!--          <td>进行了添加用户xxx的操作</td>-->
<!--          <td>2016-11-20 15:05:29</td>-->
<!--          <td>-->
<!--            <a href="logView.html" class="tablelink">查看日志信息</a>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>2</td>-->
<!--          <td>9527</td>-->
<!--          <td>唐寅</td>-->
<!--          <td>用户管理</td>-->
<!--          <td>进行了添加用户xxx的操作</td>-->
<!--          <td>2016-11-20 15:05:29</td>-->
<!--          <td>-->
<!--            <a href="logView.html" class="tablelink">查看日志信息</a>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>3</td>-->
<!--          <td>9527</td>-->
<!--          <td>唐寅</td>-->
<!--          <td>用户管理</td>-->
<!--          <td>进行了添加用户xxx的操作</td>-->
<!--          <td>2016-11-20 15:05:29</td>-->
<!--          <td>-->
<!--            <a href="logView.html" class="tablelink">查看日志信息</a>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>4</td>-->
<!--          <td>9527</td>-->
<!--          <td>唐寅</td>-->
<!--          <td>用户管理</td>-->
<!--          <td>进行了添加用户xxx的操作</td>-->
<!--          <td>2016-11-20 15:05:29</td>-->
<!--          <td>-->
<!--            <a href="logView.html" class="tablelink">查看日志信息</a>-->
<!--          </td>-->
<!--        </tr>-->
      </tbody>
    </table>
    <div class="pagin">
      <div class="message" id="pag2">
<!--        共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页-->
      </div>
      <ul class="paginList" id="pag">
<!--        <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">1</a></li>-->
<!--        <li class="paginItem current"><a href="javascript:;">2</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">3</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">4</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">5</a></li>-->
<!--        <li class="paginItem more"><a href="javascript:;">...</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">10</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>-->
      </ul>
    </div>
  </form>
  <!-- 提示框 -->
  <div id="tip" class="tip">
    <div class="tiptop"><span>提示信息</span><a onclick="tipClose()"></a></div>
    <div class="tipinfo"> <span><img src="../../../static/images/ticon.png" /></span>
      <div class="tipright">
        <p></p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite> </div>
    </div>
    <div class="tipbtn">
      <input name="" type="button"  class="sure" value="确定" onclick="tipClose()" />
      &nbsp;
      <input name="" type="button"  class="cancel" value="取消" onclick="tipClose()" />
    </div>
  </div>
</div>
<script type="text/javascript">


    var start = {
      elem: '#logStartTime',
      format: 'YYYY-MM-DD hh:mm:ss',
      max: '2099-06-16', //最大日期
      istime: true,
      istoday: false,
      choose: function(datas){
        end.min = datas; //开始日选好后，重置结束日的最小日期
        end.start = datas; //将结束日的初始值设定为开始日
      }
    };

    var end = {
      elem: '#logEndTime',
      format: 'YYYY-MM-DD hh:mm:ss',
      max: '2099-06-16',
      istime: true,
      istoday: false,
      choose: function(datas){
        start.max = datas; //结束日选好后，充值开始日的最大日期
      }
    };
    laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
    laydate(start);
    laydate(end);
</script>
</body>
</html>
