<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../../../static/js/jquery.js"></script>
  <script>
    $(function () {
      function getParameter(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = location.search.substr(1).match(reg);
        if (r != null) {
          return (r[2]);
        }
        return null;
      }
      var parameter = getParameter("productId");
      $("#productId").val(parameter);
      $.ajax({
        url:"/purchase/findProduct",
        method:"post",
        data:{productId:parameter},
        success:function (rel) {
          var productModel = rel.resultData[0].productModel;
          var typeId = rel.resultData[0].typeId;
          var productUnit = rel.resultData[0].productUnit;
          var name = rel.resultData[0].createName;
          var time = rel.resultData[0].createTime;
          $("#productModel").val(productModel)
          $("#productUnit").val(productUnit)
          if (rel.resultData[0].productStatus == "1"){
            var element = document.getElementById("used");
            element.selected = "selected";
          }else {
            var element = document.getElementById("unUsed");
            element.selected = "selected";
          }
          $("#createName").val(name)
          $("#createTime").val(time)
          $.ajax({
            url:"/purchase/findType",
            method:"post",
            data:{},
            success:function (rel) {
              var brandId = 0;
              for (let i = 0; i < rel.resultData.length; i++) {
                if (rel.resultData[i].typeId == typeId) {
                  brandId = rel.resultData[i].brandId;
                  break;
                }
              }
              $.ajax({
                url:"/purchase/findType",
                method:"post",
                data:{brandId:brandId},
                success:function (rel) {
                  var str = '                  <option value="0">请选择</option>\n';
                  for (let i = 0; i < rel.resultData.length; i++) {
                    if (rel.resultData[i].typeId == typeId) {
                      str += '                  <option value="' + rel.resultData[i].typeId + '" selected="selected">' + rel.resultData[i].typeName + '</option>'
                    }else {
                      str += '                  <option value="' + rel.resultData[i].typeId + '">' + rel.resultData[i].typeName + '</option>'
                    }
                  }
                  $("#typeId").html(str);
                }
              })
              $.ajax({
                url:"/purchase/findBrand",
                method:"post",
                data:{},
                success:function (rel) {
                  var str = '                  <option value="0">请选择</option>\n';
                  for (let i = 0; i < rel.resultData.length; i++) {
                    if (brandId == rel.resultData[i].brandId){
                      str += '                  <option value="' + rel.resultData[i].brandId + '" selected="selected">' + rel.resultData[i].brandName + '</option>'
                    }else {
                      str += '                  <option value="' + rel.resultData[i].brandId + '">' + rel.resultData[i].brandName + '</option>'
                    }
                  }
                  $("#brandId").html(str);
                  findCBrandValue()
                }
              })
            }
          })
        }
      })

    })
    function findCBrandValue() {
      /*JavaScript实现*/
      var element = document.getElementById("brandId");
      element.onchange = function () {
        valOption = this.options[this.selectedIndex].value; //获取option的value
        findCType(valOption);
      }
    }
    function findCType(valOption) {
      $.ajax({
        url:"/purchase/findType",
        method:"post",
        data:{brandId:valOption},
        success:function (rel) {
          var str = '                  <option value="0">请选择</option>\n';
          for (let i = 0; i < rel.resultData.length; i++) {
            str += '                  <option value="' + rel.resultData[i].typeId + '">' + rel.resultData[i].typeName + '</option>'
          }
          $("#typeId").html(str);
        }
      })
    }
    function updateProduct() {
      var val = $("#createTime").val();
      var val1 = $("#productModel").val();
      var val2 = $("#productStatus").val();
      var val3 = $("#brandId").val();
      var val4 = $("#productUnit").val();
      var val5 = $("#typeId").val();
      var val6 = $("#productId").val();
      if (val3 == "0"){
        alert("品牌不能为空！");
      }else if (val5 == "0"){
        alert("商品类型不能为空！");
      }else if (val1 == ""){
        alert("商品型号不能为空！");
      }else if (val4 == ""){
        alert("单位不能为空！");
      } else {
        $.ajax({
          url:"/purchase/updateProduct",
          method:"post",
          data:{createTime:val,productModel:val1,productStatus:val2,brandId:val3,productUnit:val4,typeId:val5,productId:val6},
          success:function () {
            location.href = "/purchase/product/cplist";
          }
        })
      }
    }
  </script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>采购管理</li>
    <li>商品管理</li>
    <li>添加</li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>商品类型信息</span></div>
  <ul class="forminfo">
    <li>
      <label>品牌名称</label>
      <select id="brandId" name="brandId" class="dfselect">
        <option>请选择</option>
        <option>联想</option>
        <option>海尔</option>
      </select>
      <i>必选</i>
    </li>
    <li>
      <label>商品类型</label>
      <select id="typeId" name="typeId" class="dfselect">
        <option value="0">请选择</option>
      </select>
      <i>必选</i>
    </li>
    <li>
      <label>商品型号</label>
      <input id="productId" name="productId" type="hidden"/>
      <input id="productModel" name="productModel" type="text" class="dfinput" />
      <i>必填，不能超过50个字符</i>
    </li>
    <li>
      <label>单位</label>
      <input id="productUnit" name="productUnit" type="text" class="dfinput" />
      <i>必填，不能超过10个字符</i>
    </li>
    <li>
      <label>状态</label>
      <select id="productStatus" name="productStatus" class="dfselect">
        <option id="used" value="1">可用</option>
        <option id="unUsed" value="0">不可用</option>
      </select>
      <i>必选</i>
    </li>
    <li>
      <label>创建人</label>
      <input id="createName" name="createName" type="text" value="马云" readonly="readonly" class="roinput" />
      <i>不能编辑</i>
    </li>
    <li>
      <label>创建时间</label>
      <input id="createTime" name="createTime" type="text" value="2017-11-18 15:36:10" readonly="readonly" class="roinput" />
      <i>不能编辑</i>
    </li>
    <li>
      <label>&nbsp;</label>
      <input name="" type="button" class="btn" value="确定" onclick="updateProduct()"/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="" type="button" class="btn" value="返回" onclick="window.location.href='/purchase/product/cplist'"/>
    </li>
  </ul>
</div>
</body>
</html>
