<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>客户管理</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
<script type="text/javascript">
  var pageNum = 0;
  var pageSize = 0;
  var companylike = '';
  var customnamelike = '';
  var address = 0;
  var provinceid = 0;
//模糊查询
function queryPart() {
    companylike = $("#companylike").val();
    customnamelike = $("#customnamelike").val();
    provinceid = $("#province").val();
    address = $("#city").val();
    if (address == "请选择城市"){
      address = 0;
    }
    if (provinceid == "请选择省份"){
      provinceid = 0;
    }
    queryPage(pageNum,pageSize);
  }
function tipOpen(content) {
	$(".tipright p").text(content);
	$("#tip").fadeIn(200);
}
function tipClose() {
	$("#tip").fadeOut(200);
}

//查询所有的省和对应的市
function queryProvinceAndCity(){
  $.ajax({
    url:"/market/province",
    method:"post",
    data:{},
    success:function (result) {
      var province = result.resultData;
      var str = '<option>请选择省份</option>';
      for (let i = 0; i < province.length; i++) {
        str += '<option value="' + province[i].id + '">' + province[i].pname + '</option>';
      }
      $("#province").html(str);
      var province = document.getElementById("province");
      province.onchange = function () { //当选项改变时触发
        pid = this.options[this.selectedIndex].value; //获取option的value
        pname = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
        $.ajax({
          url:"/market/city",
          method:"post",
          data:{pid:pid},
          success:function (result) {
            var city = result.resultData
            var str1 = '<option>请选择城市</option>'
            for (let i = 0; i < city.length; i++) {
              str1 += '<option value="' + city[i].id + '">' + city[i].cname + '</option>';
            }
            $("#city").html(str1);
          }
        })
      }
    }
  })
}

//分页
function queryPage(pageNum,pageSize){
  $.ajax({
    url:"/market/customerPage",
    method:"post",
    data:{pageNum:pageNum,pageSize:pageSize,companylike:companylike,customnamelike:customnamelike,address:address,provinceid:provinceid},
    success:function (page) {
      var totalCount = page.totalCount;
      var pageNum = page.pageNum;
      var totalPage = page.totalPage;
      var pageSize = page.pageSize;
      var beforpageNum = pageNum - 1;
      if (beforpageNum <= 0){
        beforpageNum = 1;
      }
      var afterpageNum = pageNum + 1;
      if (afterpageNum >= totalPage){
        afterpageNum = totalPage;
      }

      let begin;
      let end;
      if (totalPage < 10){
        begin = 1;
        end = totalPage;
      }else{
        begin = pageNum - 5;
        end = pageNum + 4;

        if (begin < 1){
          begin = 1;
          end = 10;
        }
        if (end > totalPage){
          end = totalPage;
          begin = end - 9;
        }
      }

      var str1 = '<thead>\n' +
              '        <tr>\n' +
              '          <th>序号</th>\n' +
              '          <th>客户姓名</th>\n' +
              '          <th>性别</th>\n' +
              '          <th>联系电话</th>\n' +
              '          <th>所属公司</th>\n' +
              '          <th>所属区域</th>\n' +
              '          <th>分配时间</th>\n' +
              '          <th>客服人员</th>\n' +
              '          <th>操作</th>\n' +
              '        </tr>\n' +
              '      </thead>\n' +
              '      <tbody>';
      var list = page.data;
      for (let i = 0; i < list.length; i++) {
        var xuhao = 0;
        if (pageNum > 1){
          xuhao = (pageNum-1)*pageSize+(i+1)
        }else {
          xuhao = i+1;
        }
        let gender = list[i].sex;
        if(list[i].sex==1){
          gender = "男";
        }else if(list[i].sex==2){
          gender = "女";
        }
        let province = list[i].province;
        let city = list[i].city;
        let address = province+city;
        let status = list[i].status;
        if(list[i].status==1){
          status = "可用";
        }else if(list[i].status==2){
          status = "不可用";
        }
        str1 += '<tr>\n' +
                '          <td>'+xuhao+'</td>\n' +
                '          <td>'+list[i].customname+'</td>\n' +
                '          <td>'+gender+'</td>\n' +
                '          <td>'+list[i].telephone+'</td>\n' +
                '          <td>'+list[i].company+'</td>\n' +
                '          <td>'+address+'</td>\n' +
                '          <td>'+list[i].distractime+'</td>\n' +
                '          <td>'+list[i].servicename+'</td>\n' +
                '          <td>\n' +
                '          \t<a href="/market/customerView?id='+list[i].customid+'&pageNum='+pageNum+'&panduan='+2+'" class="tablelink">查看详情</a>\n' +
                '          </td>\n' +
                '        </tr>';
      }
      str1 += '</tbody>';
      $(".tablelist").html(str1);


      var str2 = '<div class="message">共<i class="blue">'+totalCount+'</i>条记录，当前显示第&nbsp;<i class="blue">'+pageNum+'&nbsp;</i>页</div>\n' +
              '      <ul class="paginList">\n' +
              '        <li class="paginItem"><a href="javascript:;" onclick="queryPage('+beforpageNum+','+pageSize+')"><span class="pagepre"></span></a></li>'

      for (let i = begin; i <= end; i++) {
        if (i == pageNum){
          str2 += '<li class="paginItem current"><a href="javascript:;" onclick="queryPage('+(i)+','+pageSize+')">'+(i)+'</a></li>';
        }else {
          str2 += '<li class="paginItem"><a href="javascript:;" onclick="queryPage('+(i)+','+pageSize+')">'+(i)+'</a></li>';
        }
      }
      str2 += '<li class="paginItem"><a href="javascript:;" onclick="queryPage('+afterpageNum+','+pageSize+')"><span class="pagenxt"></span></a></li>\n' +
              '      </ul>';
      $(".pagin").html(str2);
    }
  })
}


$(function () {
  queryProvinceAndCity();
  queryPage(pageNum,pageSize);
})

</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>营销管理</li>
    <li>客户浏览</li>
    <li>基本内容</li>
  </ul>
</div>
<div class="rightinfo">
  <form action="" method="post">
    <ul class="tools">
      <li> 公司名称:
        <input type="text" id="companylike" />
      </li>
      <li> 客户姓名:
        <input type="text" id="customnamelike" />
      </li>
      <li> 所属区域：
        <select id="province">
          <option>请选择省份</option>
        </select>
        <select id="city">
          <option>请选择城市</option>
        </select>
      </li>
      <li class="subBut" onclick="queryPart()"><img src="../../../static/images/t06.png" />查询</li>
    </ul>
    <table class="tablelist">

    </table>
    <div class="pagin">

    </div>
  </form>
</div>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
