<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>数据统计</li>
    <li>厂商采购统计</li>
    <li>基本内容</li>
  </ul>
</div>
<div class="rightinfo">
  <form action="" method="post">
    <ul class="tools">
      <li> 所属区域：
        <select>
          <option>请选择省份</option>
          <option>北京</option>
          <option>江苏</option>
          <option>天津</option>
        </select>
        <select>
          <option>请选择城市</option>
          <option>北京</option>
          <option>南京</option>
          <option>天津</option>
        </select>
      </li>
      <li> 厂商名称:
        <input type="text" />
      </li>
      <li> 时间:
        <input type="text" />-<input type="text" />
      </li>

      <li class="subBut" onclick="window.location.href='purchaseStatis.html'"><img src="../../../static/images/t06.png" />查询</li>
    </ul>
    <table class="tablelist">
      <thead>
        <tr>
          <th>序号</th>
          <th>厂商名称</th>
          <th>负责人</th>
          <th>所属区域</th>
          <th>采购单数量</th>
          <th>金额</th>
          <th>采购单明细</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>阿里巴巴</td>
          <td>马云</td>
          <td>江苏南京</td>
          <td>5</td>
          <td>￥9,876,582</td>
          <td>
          	<a href="purchaseView.html" class="tablelink">查看详情</a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>联想科技</td>
          <td>柳传志</td>
          <td>江苏南京</td>
          <td>8</td>
          <td>￥9,876,582</td>
          <td>
          	<a href="purchaseView.html" class="tablelink">查看详情</a>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>腾讯公司</td>
          <td>马化腾</td>
          <td>江苏南京</td>
          <td>5</td>
          <td>￥9,876,582</td>
          <td>
          	<a href="purchaseView.html" class="tablelink">查看详情</a>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>搜狐新闻</td>
          <td>张朝阳</td>
          <td>江苏南京</td>
          <td>8</td>
          <td>￥9,876,582</td>
          <td>
          	<a href="purchaseView.html" class="tablelink">查看详情</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagin">
      <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
      <ul class="paginList">
        <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
        <li class="paginItem"><a href="javascript:;">1</a></li>
        <li class="paginItem current"><a href="javascript:;">2</a></li>
        <li class="paginItem"><a href="javascript:;">3</a></li>
        <li class="paginItem"><a href="javascript:;">4</a></li>
        <li class="paginItem"><a href="javascript:;">5</a></li>
        <li class="paginItem more"><a href="javascript:;">...</a></li>
        <li class="paginItem"><a href="javascript:;">10</a></li>
        <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
      </ul>
    </div>
  </form>
</div>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
