<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>采购管理</li>
    <li>品牌管理</li>
    <li>基本内容</li>
  </ul>
</div>
<div class="rightinfo">
  <form action="" method="post">
    <ul class="tools">
      <li> 省:
        <input id="pName" type="text" />
      </li>
      <li> 市:
        <input id="cName" type="text" />
      </li>
      <li class="subBut" id="search" ><img src="../../../static/images/t06.png" />查询</li>
    </ul>
    <table class="tablelist">
      <thead>
        <tr>
          <th>序号</th>
          <th>省编号</th>
          <th>省名称</th>
          <th>市编号</th>
          <th>市名称</th>
        </tr>
      </thead>
      <tbody id="arealist">
<!--        <tr>-->
<!--          <td>1</td>-->
<!--          <td>110000</td>-->
<!--          <td>北京市</td>-->
<!--          <td>110100</td>-->
<!--          <td>市辖区</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>2</td>-->
<!--          <td>110000</td>-->
<!--          <td>北京市</td>-->
<!--          <td>110200</td>-->
<!--          <td>县</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>3</td>-->
<!--          <td>130000</td>-->
<!--          <td>河北省</td>-->
<!--          <td>130100</td>-->
<!--          <td>石家庄市</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>4</td>-->
<!--          <td>130000</td>-->
<!--          <td>河北省</td>-->
<!--          <td>130200</td>-->
<!--          <td>唐山市</td>-->
<!--        </tr>-->
      </tbody>
    </table>
    <div class="pagin">
      <div class="message" id="pag2">
<!--        共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页-->
      </div>
      <ul class="paginList" id="pag">
<!--        <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">1</a></li>-->
<!--        <li class="paginItem current"><a href="javascript:;">2</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">3</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">4</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">5</a></li>-->
<!--        <li class="paginItem more"><a href="javascript:;">...</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">10</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>-->
      </ul>
    </div>
  </form>
</div>
<script type="text/javascript">

    let pName = ""
    let cName = ""
    function query(pagenum){
      $.ajax({
        url:"/arealist",
        type:"post",
        dataType:"json",
        data:{pageNum:pagenum,pName:pName,cName:cName},
        success:function (dat) {
          let resultData = dat.resultData.data;
          //------------------------------------------------------------------------------------------------------------------------
          let totalPage = dat.resultData["totalPage"];//总页数
          let totalCount = dat.resultData.totalCount;//总条数
          let pageNum = dat.resultData.pageNum;//当前页0
          //上一页
          let pageBefore = pageNum-1;
          //下一页
          let pageNext;
          if (pageNum + 1 > totalPage) {
            pageNext = totalPage;
          }else {
            pageNext = pageNum+1;
          }
          //------------------------------------------------------------------------------
          let str = ``
          for (let i = 0; i < resultData.length; i++) {
            let resultDatum = resultData[i];
            str += `<tr>
          <td>${i+1}</td>
          <td>${resultDatum.id}</td>
          <td>${resultDatum.pname}</td>
          <td>${resultDatum.cnumber}</td>
          <td>${resultDatum.cname}</td>
        </tr>`
          }
          $("#arealist").html(str)
          $('.tablelist tbody tr:odd').addClass('odd');

          //------------------------------------------------------------------------------------------------------------------------
          //拼分页
          let str1 = `<li class="paginItem"><a href="javascript:query(${pageBefore});"><span class="pagenxt"></span></a></li>`

          for (let i = 0; i < totalPage; i++) {
            let nowPage = i+1;
            if (pageNum==i+1){
              str1 += `<li class="paginItem current"><a href="javascript:query(${nowPage});">${nowPage}</a></li>`
            }else {
              str1 += `<li class="paginItem"><a href="javascript:query(${nowPage});">${nowPage}</a></li>`
            }
          }
          str1 += ` <li class="paginItem"><a href="javascript:query(${pageNext});"><span class="pagenxt"></span></a></li>`

          $("#pag").html(str1)

          let str2 = `共<i class="blue">${totalCount}</i>条记录，当前显示第&nbsp;<i class="blue">${pageNum}&nbsp;</i>页`
          $("#pag2").html(str2)
          //------------------------------------------------------------------------------------------------------------------------
        }
      })
    }
    $(function () {

      let pageNum = 1
      query(pageNum)

      $("#search").click(function () {
        pName = $("#pName").val().trim();
        cName = $("#cName").val().trim();
        query(pageNum)

      })
    })
</script>
</body>
</html>
