<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>客户管理</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
<script type="text/javascript">
  var pageNum = 0;
  var pageSize = 0;
  var orderidlike = '';
  var customnamelike = '';
  var minOrdertime = '';
  var maxOrdertime = '';
  var minOrdermoney = '';
  var maxOrdermoney = '';
  var status = '';

//金额格式化
function format_with_regex(number) {
    return !(number + '').includes('.')
            ? // 就是说1-3位后面一定要匹配3位
            (number + '').replace(/\d{1,3}(?=(\d{3})+$)/g, (match) => {
              return match + ',';
            })
            : (number + '').replace(/\d{1,3}(?=(\d{3})+(\.))/g, (match) => {
              return match + ',';
            });
  }
//查询对应的职位和名字
function queryJidAndName(id,pageNum) {
      $.ajax({
          url:"/market/job",
          method:"post",
          data:{id:id,pageNum:pageNum},
          success:function (result) {
              var jobs = result.resultData;
              var s = '<option>请选择</option>';
              for (let i = 0; i < jobs.length; i++) {
                if (jobs[i].jobId == 2){
                  s += '<option value="'+jobs[i].jobId+'">'+jobs[i].jobName+'</option>'
                }
              }
              $("#jid").html(s);
              var job = document.getElementById("jid");
              job.onchange = function () { //当选项改变时触发
                  jid = this.options[this.selectedIndex].value; //获取option的value
                  jname = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
                  $.ajax({
                      url:"/market/username",
                      method:"post",
                      data:{jid:jid},
                      success:function (result) {
                          var users = result.resultData
                          var str1 = '<option>请选择</option>'
                          for (let i = 0; i < users.length; i++) {
                              str1 += '<option value="'+users[i].uid+'">' + users[i].uname + '</option>';
                          }
                          $("#jn").html(str1);
                      }
                  })
              }
          }
      })
  }
//分页查询
function queryPage(pageNum,pageSize) {
  $.ajax({
    url:"/market/orderPage",
    method:"post",
    data:{pageNum:pageNum,pageSize:pageSize,orderidlike:orderidlike,customnamelike:customnamelike,minOrdertime:minOrdertime,maxOrdertime:maxOrdertime,minOrdermoney:minOrdermoney,maxOrdermoney:maxOrdermoney,status:status},
    success:function (page) {
      var totalCount = page.totalCount;
      var pageNum = page.pageNum;
      var totalPage = page.totalPage;
      var pageSize = page.pageSize;
      var beforpageNum = pageNum - 1;
      if (beforpageNum <= 0){
        beforpageNum = 1;
      }
      var afterpageNum = pageNum + 1;
      if (afterpageNum >= totalPage){
        afterpageNum = totalPage;
      }

      let begin;
      let end;
      if (totalPage < 10){
        begin = 1;
        end = totalPage;
      }else{
        begin = pageNum - 5;
        end = pageNum + 4;

        if (begin < 1){
          begin = 1;
          end = 10;
        }
        if (end > totalPage){
          end = totalPage;
          begin = end - 9;
        }
      }

      var str = '<thead>\n' +
              '        <tr>\n' +
              '          <th>序号</th>\n' +
              '          <th>订单编号</th>\n' +
              '          <th>客户姓名</th>\n' +
              '          <th>联系电话</th>\n' +
              '          <th>订购时间</th>\n' +
              '          <th>金额</th>\n' +
              '          <th>操作人</th>\n' +
              '          <th>审核状态</th>\n' +
              '          <th>审核人</th>\n' +
              '          <th>审核时间</th>\n' +
              '          <th>操作</th>\n' +
              '        </tr>\n' +
              '      </thead>\n' +
              '      <tbody>';
      var list = page.data;
      for (let i = 0; i < list.length; i++) {
        var orderId = list[i].orderid;
        var xuhao = 0;
        if (pageNum > 1){
          xuhao = (pageNum-1)*pageSize+(i+1)
        }else {
          xuhao = i+1;
        }
        let status = list[i].status;
        if (list[i].status==0){
          status = "未审核";
        }else if (list[i].status==1){
          status = "审核中";
        }else if (list[i].status==2){
          status = "审核通过";
        }else if (list[i].status==3){
          status = "审核不通过";
        }
        let ordermoney = format_with_regex(list[i].ordermoney);
        str += '<tr>\n' +
                '          <td>'+xuhao+'</td>\n' +
                '          <td>'+list[i].orderid+'</td>\n' +
                '          <td>'+list[i].customname+'</td>\n' +
                '          <td>'+list[i].telephone+'</td>\n' +
                '          <td>'+list[i].ordertime+'</td>\n' +
                '          <td>￥'+ordermoney+'</td>\n' +
                '          <td>'+list[i].operator+'</td>\n' +
                '          <td>'+status+'</td>\n' +
                '          <td>'+list[i].checker+'</td>\n' +
                '          <td>'+list[i].chectime+'</td>';
        if (list[i].status==0){
          str += '<td>\n' +
                  '          \t<a href="/market/orderView?id='+orderId+'&pageNum='+pageNum+'" class="tablelink">查看详情</a>\n' +
                  '            <a href="/market/updateOrderView?id='+orderId+'&pageNum='+pageNum+'" class="tablelink">修改</a>\n' +
                  `            <a href="javascript:void(0);" class="tablelink" onclick="deltipOpen('${orderId}','${pageNum}')">删除</a>\n` +
                  `            <a href="javascript:void(0);" class="tablelink" onclick="javascript:examinetipOpen('${orderId}','${pageNum}')">提交审核</a>\n` +
                  '            </td>\n' +
                  '        </tr>';
        }else if (list[i].status==1){
          str += '<td>\n' +
                  '          \t<a href="/market/orderView?id='+orderId+'&pageNum='+pageNum+'" class="tablelink">查看详情</a>\n' +
                  '          </td>\n' +
                  '        </tr>';
        }else if (list[i].status==2){
          str += '<td>\n' +
                  '          \t<a href="/market/orderView?id='+orderId+'&pageNum='+pageNum+'" class="tablelink">查看详情</a>\n';
          if (list[i].warehouseId == '') {
            str += '未出库';
          }else {
            str += '            <a href="/deliveryView?pageNum='+pageNum+'&&indent='+orderId+'&&index=3" class="tablelink">出库详情</a>\n';
          }
          str += '          </td>\n' +
                  '        </tr>';
        }else if (list[i].status==3){
          str += '<td>\n' +
                  '            <a href="/market/updateOrderView?id='+orderId+'&pageNum='+pageNum+'" class="tablelink">修改</a>\n' +
                  '            <a href="javascript:void(0);" class="tablelink" onclick="examinetipOpen()">提交审核</a>\n' +
                  '          </td>\n' +
                  '        </tr>';
        }
      }
      str += '</tbody>';
      $(".tablelist").html(str);

      var str2 = '<div class="message">共<i class="blue">'+totalCount+'</i>条记录，当前显示第&nbsp;<i class="blue">'+pageNum+'&nbsp;</i>页</div>\n' +
              '      <ul class="paginList">\n' +
              '        <li class="paginItem"><a href="javascript:;" onclick="queryPage('+beforpageNum+','+pageSize+')"><span class="pagepre"></span></a></li>'

      for (let i = begin; i <= end; i++) {
        if (i == pageNum){
          str2 += '<li class="paginItem current"><a href="javascript:;" onclick="queryPage('+(i)+','+pageSize+')">'+(i)+'</a></li>';
        }else {
          str2 += '<li class="paginItem"><a href="javascript:;" onclick="queryPage('+(i)+','+pageSize+')">'+(i)+'</a></li>';
        }
      }
      str2 += '<li class="paginItem"><a href="javascript:;" onclick="queryPage('+afterpageNum+','+pageSize+')"><span class="pagenxt"></span></a></li>\n' +
              '      </ul>';
      $(".pagin").html(str2);

    }
  })
}
//模糊查询
function queryPart() {
    orderidlike = $("#orderidlike").val();
    customnamelike = $("#customnamelike").val();
    minOrdertime = $("#minOrdertime").val();
    maxOrdertime = $("#maxOrdertime").val();
    minOrdermoney = $("#minOrdermoney").val();
    maxOrdermoney = $("#maxOrdermoney").val();
    status = $("#status").val();
    queryPage(pageNum,pageSize);
  }
//删除订购单
function delOrder() {
  $.ajax({
    url:"/market/deleteOrder",
    method:"post",
    data:{},
    success:function (result) {
      pageNum = result.resultData;
      queryPage(pageNum,pageSize);
      deltipClose();
    }
  })
}
//提交审核
function examine() {
  var sid = $("#jn").val();
  $.ajax({
    url:"/market/updateExamine",
    method:"post",
    data:{sid:sid},
    success:function (result) {
      pageNum = result.resultData;
      queryPage(pageNum,pageSize);
      examinetipclose();
    }
  })
}
function deltipOpen(id,pageNum) {
	$("#deltip").fadeIn(200);
    $.ajax({
    url:"/market/saveId",
    method:"post",
    data:{id:id,pageNum:pageNum},
    success:function (result) {

    }
  })
}
function deltipClose() {
	$("#deltip").fadeOut(200);
}
function examinetipOpen(id,pageNum) {
      $("#examinetip").fadeIn(200);
      queryJidAndName(id,pageNum);
  }
function examinetipclose() {
  $("#examinetip").fadeOut(200);
  var sn = '<option>请选择</option>';
  $("#jn").html(sn);
}

$(function () {
  var pageNumsss = "[[${pageNum}]]"
  if (pageNumsss != ''){
    pageNum = pageNumsss;
  }
  queryPage(pageNum,pageSize);
})
</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>营销管理</li>
    <li>订购单管理</li>
    <li>基本内容</li>
  </ul>
</div>
<div class="rightinfo">
  <form action="" method="post">
    <ul class="tools">
      <li> 订单编号:
        <input id="orderidlike" type="text" />
      </li>
      <li> 客户姓名:
        <input id="customnamelike" type="text" />
      </li>
      <li> 订购时间:
        <input id="minOrdertime" type="text" />-<input id="maxOrdertime" type="text" />
      </li>
      <li> 金额:
        <input id="minOrdermoney" type="text" class="stinput" />-<input id="maxOrdermoney" type="text" class="stinput" />
      </li>
      <li> 审核状态：
        <select id="status">
          <option>请选择</option>
          <option value="0">未审核</option>
          <option value="1">审核中</option>
          <option value="2">审核通过</option>
          <option value="3">审核未通过</option>
        </select>
      </li>
      <li class="subBut" onclick="queryPart()"><img src="../../../static/images/t06.png" />查询</li>
      <li class="subBut" onclick="window.location.href='/market/addOrderView'"><img src="../../../static/images/t01.png" />添加</li>
    </ul>
    <table class="tablelist">

    </table>
    <div class="pagin">

    </div>
  </form>
  <!-- 删除提示框 -->
  <div id="deltip" class="tip">
    <div class="tiptop"><span>提示信息</span><a onclick="deltipClose()"></a></div>
    <div class="tipinfo"> <span><img src="../../../static/images/ticon.png"></span>
      <div class="tipright">
        <p>是否确认删除此条信息？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite> </div>
    </div>
    <div class="tipbtn">
      <input name="" type="button"  class="sure" value="确定" onclick="delOrder()" />
      &nbsp;
      <input name="" type="button"  class="cancel" value="取消" onclick="deltipClose()" />
    </div>
  </div>
  
  <!-- 审批提示框 -->
  <div id="examinetip" class="tip">
    <div class="tiptop">
    	<span>提示信息</span><a onclick="examinetipclose()"></a>
    </div>
    <div class="tipinfo1"> 
    	
        部门：
            <select class="dfselect" disabled="disabled">
            	<option>请选择</option>
                <option selected="selected">市场部</option>
                <option>采购部</option>
                <option>财务部</option>
            </select>
			<p/>
            职位：
            <select class="dfselect" id="jid">
            	<option>请选择</option>

            </select>
   			<p/>
            姓名：
            <select class="dfselect" id="jn">
            	<option>请选择</option>
            </select>
			<p/>
    </div>
    <div class="tipbtn">
      <input name="" type="button"  class="sure" value="确定" onclick="examine()" />
      &nbsp;
      <input name="" type="button"  class="cancel" value="取消" onclick="examinetipclose()" />
    </div>
  </div>
</div>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
