<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
<script type="text/javascript">
    var a = 1;
    var bcustomname = false;
    //金额格式化
    function format_with_regex(number) {
        return !(number + '').includes('.')
            ? // 就是说1-3位后面一定要匹配3位
            (number + '').replace(/\d{1,3}(?=(\d{3})+$)/g, (match) => {
                return match + ',';
            })
            : (number + '').replace(/\d{1,3}(?=(\d{3})+(\.))/g, (match) => {
                return match + ',';
            });
    }
    //删除重置序号
    function reNum(){
        var elements = document.getElementsByClassName("number");
        var length = document.getElementsByClassName("number").length;
        for (let index = 1; index < length; index++) {
            var str = '<input type="checkbox" name="checkbox" value="' + a + '">';
            elements[index].innerHTML = (index + 1) + str;
        }
    }
    //回显数据
    function addOrderViewBack() {
        $.ajax({
            url:"/market/addOrderViewBack",
            method:"post",
            data:{},
            success:function (result) {
                var date = result.resultData;
                $("#orderid").val(date.orderid);
                $("#ordertime").val(date.ordertime);
                $("#operator").val(date.operator);
                $("#operatorid").val(date.operatorid);
            }
        })
    }
    //查询出所有的品牌
    function findCBrand(index) {
        $.ajax({
            url:"/market/findAllBrand",
            method:"post",
            data:{},
            success:function (rel) {
                var brands = rel.resultData;
                var str = '<option count="" productUnit="" productPrice="" totalPrice="">请选择</option>';
                for (let i = 0; i < brands.length; i++) {
                    str += '                  <option value="' + brands[i].brandId + '" count="" productUnit="" productPrice="" totalPrice="">' + brands[i].brandName + '</option>'
                }
                var element = document.getElementsByClassName("cbrand")[index];
                element.innerHTML = str;
            }
        })
    }
    function findCBrandValue() {
        /*JavaScript实现*/
        var elements = document.getElementsByClassName("cbrand");
        var length = document.getElementsByClassName("cbrand").length;
        for (let index = 0; index < length; index++) {
            elements[index].onchange = function () {
                valOption = this.options[this.selectedIndex].value; //获取option的value
                txtOption = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
                countOption = this.options[this.selectedIndex].getAttribute("count"); //获取option的value
                unitOption = this.options[this.selectedIndex].getAttribute("productUnit"); //获取option的value
                priceOption = this.options[this.selectedIndex].getAttribute("productPrice"); //获取option的value
                moneyOption = this.options[this.selectedIndex].getAttribute("totalPrice"); //获取option的value
                txtOption = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
                var element = document.getElementsByClassName("productUnit")[index];
                element.innerHTML = unitOption;
                let element1 = document.getElementsByClassName("productPrice")[index];
                element1.value = priceOption;
                let element2 = document.getElementsByClassName("totalPrice")[index];
                element2.value = moneyOption;
                let element3 = document.getElementsByClassName("count")[index];
                element3.value = countOption;
                findCType(valOption,index);
                valOption = 0;
                findCProduct(valOption,index);
                sumAllPrice();
            }
        }
        sumAllPrice();
    }

    //查询对应品牌的类型
    function findCType(valOption,index) {
        $.ajax({
            url:"/market/findType",
            method:"post",
            data:{brandId:valOption},
            success:function (rel) {
                var type = rel.resultData
                var str = '                  <option count="" productUnit="" productPrice="" totalPrice="">请选择</option>\n';
                for (let i = 0; i < type.length; i++) {
                    str += '                  <option value="' + type[i].typeId + '" count="" productUnit="" productPrice="" totalPrice="">' + type[i].typeName + '</option>'
                }
                var element = document.getElementsByClassName("cType")[index];
                element.innerHTML = str;
                findCTypeValue();
            }
        })
    }
    function findCTypeValue() {
        /*JavaScript实现*/
        var elements = document.getElementsByClassName("cType");
        var length = document.getElementsByClassName("cType").length;
        for (let index = 0; index < length; index++) {
            elements[index].onchange = function () {
                valOption = this.options[this.selectedIndex].value; //获取option的value
                txtOption = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
                countOption = this.options[this.selectedIndex].getAttribute("count"); //获取option的value
                unitOption = this.options[this.selectedIndex].getAttribute("productUnit"); //获取option的value
                priceOption = this.options[this.selectedIndex].getAttribute("productPrice"); //获取option的value
                moneyOption = this.options[this.selectedIndex].getAttribute("totalPrice"); //获取option的value
                txtOption = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
                var element = document.getElementsByClassName("productUnit")[index];
                element.innerHTML = unitOption;
                let element1 = document.getElementsByClassName("productPrice")[index];
                element1.value = priceOption;
                let element2 = document.getElementsByClassName("totalPrice")[index];
                element2.value = moneyOption;
                let element3 = document.getElementsByClassName("count")[index];
                element3.value = countOption;
                findCProduct(valOption,index);
                sumAllPrice();
            }
        }
        sumAllPrice();
    }

    //查询对应的产品
    function findCProduct(valOption,index) {
        $.ajax({
            url:"/market/findProducts",
            method:"post",
            data:{typeId:valOption},
            success:function (rel) {
                var products = rel.resultData;
                var str = '                  <option count="" productUnit="" productPrice="" totalPrice="">请选择</option>\n';
                for (let i = 0; i < products.length; i++) {
                    str += '                  <option value="'+products[i].productId+'" count="" productUnit="'+products[i].productUnit+'" productPrice="'+products[i].productPrice+'" totalPrice="">'+products[i].productModel+'</option>'
                }
                var element = document.getElementsByClassName("cProduct")[index];
                element.innerHTML = str;
                findCProductValue();
            }
        })
    }
    function findCProductValue() {
        /*JavaScript实现*/
        var elements = document.getElementsByClassName("cProduct");
        var length = document.getElementsByClassName("cProduct").length;
        for (let index = 0; index < length; index++) {
            elements[index].onchange = function () {
                valOption = this.options[this.selectedIndex].value; //获取option的value
                countOption = this.options[this.selectedIndex].getAttribute("count"); //获取option的value
                unitOption = this.options[this.selectedIndex].getAttribute("productUnit"); //获取option的value
                priceOption = this.options[this.selectedIndex].getAttribute("productPrice"); //获取option的value
                moneyOption = this.options[this.selectedIndex].getAttribute("totalPrice"); //获取option的value
                txtOption = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
                var element = document.getElementsByClassName("productUnit")[index];
                element.innerHTML = unitOption;
                let element1 = document.getElementsByClassName("productPrice")[index];
                element1.value = priceOption;
                let element2 = document.getElementsByClassName("totalPrice")[index];
                element2.value = moneyOption;
                let element3 = document.getElementsByClassName("count")[index];
                element3.value = countOption;
                sumAllPrice();
            }
        }
        sumAllPrice();
    }

    //计算每一条订购的价格
    function sumPrice() {
        var elements = document.getElementsByClassName("count");
        var length = document.getElementsByClassName("count").length;
        for (let index = 0; index < length; index++) {
            elements[index].onblur = function () {
                var count = this.value;
                var regex = /^[0-9]*$/;
                var flag = regex.test(count);
                if (flag){
                    var element = document.getElementsByClassName("productPrice")[index];
                    var priceVal = element.value;
                    var total = count * priceVal;
                    var element1 = document.getElementsByClassName("totalPrice")[index];
                    element1.value = total;
                    sumAllPrice();
                }else {
                    alert("输入必须为数字！")
                }

            }
        }
    }

    //计算总价
    function sumAllPrice() {
        var elements = document.getElementsByClassName("totalPrice");
        var length = document.getElementsByClassName("totalPrice").length;
        var sum = 0;
        for (let index = 0; index < length; index++) {
            var value = elements[index].value;
            sum += Number(value);
        }
        $("#totalMoney").val(sum);
    }

    //新增订购信息
    function addOrder() {
        a++;
        var str = '      <tr class="newRow">\n' +
            '          <td class="number">' + a + '<input type="checkbox" name="checkbox" value="' + a + '"></td>\n' +
            '          <td>\n' +
            '              <select class="cbrand">\n' +
            '                  <option>请选择</option>\n' +
            '              </select>\n' +
            '          </td>\n' +
            '          <td>\n' +
            '              <select class="cType">\n' +
            '                  <option>请选择</option>\n' +
            '              </select>\n' +
            '          </td>\n' +
            '          <td>\n' +
            '              <select class="cProduct">\n' +
            '                  <option>请选择</option>\n' +
            '              </select>\n' +
            '          </td>\n' +
            '          <td><input class="count" name="count" type="text" value="" /></td>\n' +
            '          <td class="productUnit">台</td>\n' +
            '          <td><input class="productPrice" type="text" value="" readonly="readonly" /></td>\n' +
            '          <td><input class="totalPrice" type="text" value="" readonly="readonly" /></td>\n' +
            '      </tr>'
        $("#order").append(str)
        findCBrand(a-1);
        findCBrandValue();
        sumPrice();
    }
    //删除订购信息
    function delOrder() {
        //判断至少写了一项
        var checkedNum = $("input[name='checkbox']:checked").length;
        if (checkedNum == 0) {
            alert("请至少选择一项!");
            return false;
        }
        //创建数组,存储选择的id
        var checkedList = new Array();
        $("input[name='checkbox']:checked").each(function () {
            //把当前选中的复选框的id存入数组中
            checkedList.push($(this).val());
        });
        a -= checkedList.length;
        //提示删除
        var flag=confirm("确认要删除这"+checkedList.length+"条数据吗?")
        if(flag){
            $("input[name='checkbox']:checked").each(function() { // 遍历选中的checkbox
                n = $(this).parents("tr").index();  // 获取checkbox所在行的顺序
                $("tbody#order").find("tr:eq("+n+")").remove();
            });

        }
        reNum();
        sumPrice();
        sumAllPrice();
    }
    //提交数据
    function saveOrder() {
        if (bcustomname){
            var orderid = $("#orderid").val();
            var customid = $("#customid").val();
            var ordertime = $("#ordertime").val();
            var operatorid = $("#operatorid").val();
            var status = $("#status").val();
            var ordermoney = $("#totalMoney").val();
            $.ajax({
                url:"/market/saveOrders",
                method:"post",
                data:{orderid:orderid,customid:customid,ordertime:ordertime,operatorid:operatorid,status:status,ordermoney:ordermoney},
                success:function (rel) {
                    var length = document.getElementsByClassName("cProduct").length;
                    for (let i = 0; i < length; i++) {
                        var productId = document.getElementsByClassName("cProduct")[i].value;
                        var purchaseNum = document.getElementsByClassName("count")[i].value;
                        var proprice = document.getElementsByClassName("productPrice")[i].value;
                        var prototal = document.getElementsByClassName("totalPrice")[i].value;
                        $.ajax({
                            url:"/market/saveDetail",
                            method:"post",
                            data:{productId:productId,purchaseNum:purchaseNum,proprice:proprice,prototal:prototal,orderId:orderid},
                            success:function (rel) {
                            }
                        })
                    }
                    // location.href = "/market/orderListView";
                    // location.reload();
                    location.href = "/market/orders/ordersAll";
                }
            })
        }else {
            $("#tip").css({"color":"red"})
            $("#customname").css({"borderColor":"red"});
        }
    }

    $(function () {
        addOrderViewBack();
        $("#customname").blur(function () {
            customname = $("#customname").val();
            $.ajax({
                url:"/market/checkCustom",
                method:"post",
                data:{customname:customname},
                success:function (result) {
                    console.log(result);
                    var date = result.resultData;
                    if (result.flag){
                        $("#customid").val(date.customid);
                        bcustomname = true;
                        $("#tip").html("不能为空");
                        $("#tip").css({"color":"grey"})
                        $("#customname").css({"borderColor":"black"});
                    }else {
                        bcustomname = false;
                        $("#tip").html(result.msg);
                        $("#tip").css({"color":"red"})
                        $("#customname").css({"borderColor":"red"});
                    }
                }
            })
        })
        findCBrand(0);
        findCBrandValue();
        sumPrice();
    })
</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>营销管理</li>
    <li>订购单管理</li>
    <li>添加</li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>订购单信息</span></div>
  <ul class="forminfo">
    <li>
      <label>订单编号</label>
      <input id="orderid" name="" type="text" value="DJ201711180001" readonly="readonly" class="roinput" />
      <i>自动生成不能编辑</i>
    </li>
    <li>
      <label>客户姓名</label>
      <input id="customname" name="" type="text" class="dfinput" />
      <input id="customid" name="" type="hidden" value="" />
      <i id="tip">不能为空</i>
    </li>
    <li>
      <label>订购时间</label>
      <input id="ordertime" name="" type="text" value="2017-11-18 15:36:10" readonly="readonly" class="roinput" />
      <i>不能编辑</i>
    </li>
    <li>
      <label>创建人</label>
      <input id="operator" name="" type="text" value="马云" readonly="readonly" class="roinput" />
      <input id="operatorid" name="" type="hidden" value="" />
      <i>不能编辑</i>
    </li>
    <li>
      <label>审核状态</label>
      <input type="text" value="未审核" readonly="readonly" class="roinput" />
      <input id="status" name="" type="hidden" value="0" />
      <i>初始状态，不能编辑</i>
    </li>
    <li>
      <label>总金额</label>
      <input id="totalMoney" name="" type="text" readonly="readonly" class="roinput" />
       <i>自动运算，不能编辑</i>
    </li>
    <li>
      <input type="button" value="新增" class="smallbtn" onclick="addOrder()" />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="button" value="删除" class="smallbtn" onclick="delOrder()" />
       &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="button" value="保存" class="smallbtn" onclick="saveOrder()"/>
       &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="button" value="返回" class="smallbtn" onclick="window.location.href='/market/orders/ordersAll'"/>
    </li>
  </ul>
  <table class="tablelist">
      <thead>
        <tr>
          <th>序号</th>
          <th>品牌</th>
          <th>类型</th>
          <th>型号</th>
          <th>数量</th>
          <th>单位</th>
          <th>单价</th>
          <th>金额</th>
        </tr>
      </thead>
      <tbody id="order">
      	<tr>
          <td class="number">1</td>
          <td>
          	<select class="cbrand">
            	<option>请选择</option>
            </select>
          </td>
          <td>
          	<select class="cType">
            	<option>请选择</option>
            </select>
          </td>
          <td>
          	<select class="cProduct">
            	<option productPrice="">请选择</option>
            </select>
          </td>
          <td><input class="count" type="text" /></td>
          <td class="productUnit">台</td>
          <td><input class="productPrice" type="text" /></td>
          <td><input class="totalPrice" type="text" /></td>
        </tr>
      </tbody>
  </table>
</div>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
