<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
  <script type="text/javascript" src="../../../static/js/jquery.js"></script>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/laydate/laydate.js"></script>
<style type="text/css">
  #birthday{
    padding-right: 0;
    height: 32px;
    line-height: 32px;
  }

  /*input.btn_add{ background:#1abc9c; font-size:22px; color:#fff; border-radius:4px; border:none;width:200px; height:50px;}*/

  /*input.btn_add_no{ background:#cccccc;  color:#333; }*/
</style>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="userList.html">系统管理</a></li>
    <li><a href="userList.html">用户管理</a></li>
    <li><a href="#">添加</a></li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>员工信息</span></div>
  <ul class="forminfo">
    <form id="form1">
    <li>
<!--      <label>员工编号</label>-->
      <input name="uId" style="display: none" type="text" class="dfinput"/>
<!--      <i>必填，不能超过30个字符</i>-->
    </li>
    <li>
      <label>员工姓名</label>
      <input name="uname"  type="text" class="dfinput must" />
      <i>必填，不能超过30个字符</i>
    </li>
    <li>
      <label>密码</label>
      <input name="upassword"  type="password" class="dfinput must" />
      <i>必填，不能超过30个字符</i>
    </li>
    <li>
      <label>性别</label>
      <cite >
          <input  name="sex" type="radio" value="1" checked="checked" />男
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input  name="sex" type="radio" value="2" />女
      </cite>
    </li>
    <li>
      <label>联系方式</label>
      <input name="utelephone"  type="text"  class="dfinput must" />
      <i>必填，不能超过30个字符</i>
    </li>
    <li>
      <label>出生年月</label>
      <input name="birthday" id="birthday" class="dfinput laydate-icon must"  >
    </li>
    <li>
      <label>所属部门</label>
      <select name="deptId" id="deptId" class="dfselect must">
      </select>
    </li>
    <li>
      <label>职位</label>
      <select name="jobId" id="jobId" class="dfselect must">
        <option value="">请选择</option>
      </select>
    </li>
    </form>
    <li>
      <label>&nbsp;</label>
      <input id="but1" name="" onclick="add()" disabled="disabled" type="button" class="btn" value="确认保存"/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="" type="button" class="btn" value="返回"  onclick="window.history.go(-1);"/>
    </li>
  </ul>
</div>
<script type="text/javascript">

  //查部门
  function querydepts(){
    $.ajax({
      url:"usersdeptlist",
      type:"post",
      dataType:"json",
      data:{},
      success:function (dat) {
        console.log(dat)
        let resultData = dat.resultData;
        let str = ``
        for (let i = 0; i < resultData.length; i++) {
          let resultDatum = resultData[i];
          str += `<option value="${resultDatum.deptId}">${resultDatum.deptName}</option>`
        }
        str += `<option value="" selected>请选择</option>`
        $("#deptId").html(str)
      }
    })
  }
  //查职位
  let jobDeptId = ""
  function queryjobs(){
    $.ajax({
      url:"/usersjobslist",
      type:"post",
      dataType:"json",
      data:{jobDeptId:jobDeptId},
      success:function (dat) {
        let resultData = dat.resultData;
        let str = ``
        for (let i = 0; i < resultData.length; i++) {
          let resultDatum = resultData[i];
          str += `<option value="${resultDatum.jobId}">${resultDatum.jobName}</option>`
        }
        str += `<option value="" selected>请选择</option>`
        $("#jobId").html(str)
      }
    })
  }
  function add(){

    $.ajax({
      url:"/usersadd",
      type:"post",
      dataType:"json",
      data:$("#form1").serializeArray(),
      success:function (dat) {
        window.location.href="/sys/users/userall"
      }
    })
  }


  function fun1(){
      let sum = 0;
    $(".must").each(function(index,value){
      if ($(this).val() === "") {
      }else {
        sum += 1
      }
    })
    if (sum === 6) {
      $("#but1").removeClass("btn_add_no")//条件满足样式改变
      $("#but1").attr("disabled",false)
    }else {
      $("#but1").addClass("btn_add_no")//条件不满足样式改变
      $("#but1").attr("disabled",true)
    }
  }

  $(function () {
    fun1()
    $(".must").blur(function () {
      fun1()
    })



    //查部门
    querydepts()
    //失焦查对应职位
    $("#deptId").blur(function () {
      jobDeptId = $("#deptId").val().trim()
      queryjobs()
    })

  })

  !function(){
    laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
    laydate({elem: '#birthday'});//绑定元素
  }();


</script>
</body>
</html>
