<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>采购管理</li>
    <li>厂商管理</li>
    <li>厂商详情</li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>厂商信息</span></div>
  <ul class="forminfo">
    <li>
      <label>厂商名称</label>
      <cite>阿里巴巴</cite>
    </li>
    <li>
      <label>负责人</label>
      <cite>马云</cite>
    </li>
    <li>
      <label>联系方式</label>
      <cite>17370899727</cite>
    </li>
    <li>
      <label>联系地址</label>
      <cite>江苏南京苏铺路180号泸州花园7栋3单元1801室</cite>
    </li>
    <li>
      <label>所属区域</label>
      <cite>江苏省南京市</cite>
    </li>
    <li>
      <label>描述</label>
      <cite>阿里巴巴上市公司</cite>
    </li>
    <li>
      <label>状态</label>
      <cite>可用</cite>
    </li>
    <li>
      <label>创建人</label>
      <cite>曹操</cite>
    </li>
    <li>
      <label>创建时间</label>
      <cite>2017-11-18 15:36:10</cite>
    </li>
    <li>
      <label>&nbsp;</label>
      <input name="" type="button" class="btn" value="返回" onclick="window.location.href='manufacturerList.html'"/>
    </li>
  </ul>
</div>
</body>
</html>
