<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>部门管理</title>
  <script type="text/javascript" src="../../../static/js/jquery.js"></script>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/laydate/laydate.js"></script>
<script>

    $(function () {
        let id = $("#id1").val();
        querycitys1($("#pro").val(),id)

        $("#pro").change(function () {
            querycitys($("#pro").val())
        })
    })


  function update(){
    $.ajax({
      url:"/updatedept",
      type:"post",
      dataType:"json",
      data:$("#form1").serializeArray(),
      success:function (dat) {
        window.location.href="/sys/dept/deptList"
      }
    })
  }






  function querycitys(proid){
    $.ajax({
      url:"/deptcitylist",
      type:"post",
      dataType:"json",
      data:{pId:proid},
      success:function (dat) {


        let resultData = dat.resultData;
        let str = ``
        for (let i = 0; i < resultData.length; i++) {
          let resultDatum = resultData[i];

          str += `<option value="${resultDatum.id}" >${resultDatum.cname}</option>`
        }
        str += `<option value="" selected>请选择</option>`
        $("#cid").html(str)
      }
    })
  }

  function querycitys1(proid,id){
    $.ajax({
      url:"/deptcitylist",
      type:"post",
      dataType:"json",
      data:{pId:proid},
      success:function (dat) {
        let resultData = dat.resultData;
        let str = ``
        for (let i = 0; i < resultData.length; i++) {
          let resultDatum = resultData[i];

          str += `<option value="${resultDatum.id}" selected="${resultDatum.cId==id}">${resultDatum.cname}</option>`
        }
        $("#cid").html(str)
      }
    })
  }






</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="../users/userList.html">系统管理</a></li>
    <li><a href="deptList.html">部门管理</a></li>
    <li><a href="#">修改</a></li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>部门信息</span></div>
  <ul class="forminfo">
    <input style="display: none" th:value="${deptview.getCId()}" id="id1">
    <form id="form1">
    <li>
      <label>部门编号</label>
      <input name="deptId" type="text" th:value="${deptview.getDeptId()}" class="dfinput" readonly/>
      <i>必填，不能超过30个字符</i>
    </li>
    <li>
      <label>部门名称</label>
      <input name="deptName" type="text" th:value="${deptview.getDeptName()}" class="dfinput" />
      <i>必填，不能超过30个字符</i>
    </li>
    <li>
      <label>所属区域</label>
      <select name="pId" class="dfselect" id="pro">
          <option th:each="p:${provinceList}" th:value="${p.getId()}" th:text="${p.getPName()}" th:selected="${deptview.getPId() eq p.getId()}" ></option>
      </select>
      省
      <select name="cId" class="dfselect" id="cid">
<!--          <option th:each="c:${cityList}" th:value="${c.getId()}" th:text="${c.getCName()}" th:selected="${deptview.getCId() eq c.getId()}" ></option>-->
<!--          <option th:value="${deptview.getCId()}" th:text="${deptview.getCName()}" selected="selected"></option>-->
<!--          <option>北京</option>-->
<!--          <option>天津</option>-->
      </select>
      市
      <i>必选</i>
    </li>
    </form>
    <li>
      <label>&nbsp;</label>
      <input name="" onclick="update()" type="button" class="btn" value="确认保存"/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="" type="button" class="btn" value="返回"  onclick="window.history.go(-1);"/>
    </li>
  </ul>
</div>
</body>
</html>
