<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>无标题文档</title>
  <link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../../../static/js/jquery.js"></script>
  <script>
    $(function () {
      function getParameter(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = location.search.substr(1).match(reg);
        if (r != null) {
          return (r[2]);
        }
        return null;
      }
      var parameter = getParameter("brandId");
      $("#brandId").val(parameter);
      $.ajax({
        url:"/purchase/findBrand",
        method:"post",
        data:{brandId:parameter},
        success:function (rel) {
          var brandName = rel.resultData[0].brandName;
          var name = rel.resultData[0].createName;
          var time = rel.resultData[0].createTime;
          $("#brandName").val(brandName)
          if (rel.resultData[0].brandStatus == "1"){
            var element = document.getElementById("used");
            element.selected = "selected";
          }else {
            var element = document.getElementById("unUsed");
            element.selected = "selected";
          }
          $("#createName").val(name)
          $("#createTime").val(time)
        }
      })
    })
    function updateBrand() {
      var val3 = $("#brandId").val();
      var val = $("#createTime").val();
      var val1 = $("#brandName").val();
      var val2 = $("#brandStatus").val();
      if (val1 == ""){
        alert("品牌名称不能为空！");
      }else{
        $.ajax({
          url:"/purchase/updateBrand",
          method:"post",
          data:{createTime:val,brandName:val1,brandStatus:val2,brandId:val3},
          success:function () {
            location.href = "/purchase/brand/brandAll";
          }
        })
      }
    }
  </script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>采购管理</li>
    <li>品牌管理</li>
    <li>添加</li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>品牌信息</span></div>
  <ul class="forminfo">
    <li>
      <label>品牌名称</label>
      <input id="brandId" name="brandId" type="hidden"/>
      <input id="brandName" name="brandName" type="text" class="dfinput" />
      <i>必填，不能超过50个字符</i>
    </li>
    <li>
      <label>状态</label>
      <select id="brandStatus" name="brandStatus" class="dfselect">
        <option id="used" value="1">可用</option>
        <option id="unUsed" value="0">不可用</option>
      </select>
      <i>必选</i>
    </li>
    <li>
      <label>创建人</label>
      <input id="createName" name="createName" type="text" value="马云" readonly="readonly" class="roinput" />
      <i>不能编辑</i>
    </li>
    <li>
      <label>创建时间</label>
      <input id="createTime" name="createTime" type="text" value="2017-11-18 15:36:10" readonly="readonly" class="roinput" />
      <i>不能编辑</i>
    </li>
    <li>
      <label>&nbsp;</label>
      <input name="" type="button" class="btn" value="确定" onclick="updateBrand()"/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="" type="button" class="btn" value="返回" onclick="window.location.href='/purchase/brand/brandAll'"/>
    </li>
  </ul>
</div>
</body>
</html>
