<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
    <script type="text/javascript" src="../../../static/js/jquery.js"></script>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
    <script>
        $(function () {
            queryjobusers();
            province();
            gs();
        })

        var usersid;
        var usersname;
        function queryjobusers() {
            $.ajax({
                url: "/jobidandusers",
                method: "post",
                data: {},
                dataType: "json",
                success: function (rel) {
                    let str = "   <select class=\"dfselect\" id=\"fzr\">"+
                            " <option  selected disabled value=\"[[${warehouse.usreId}]]\" >[[${warehouse.name}]]</option>";
                    rel.resultData.forEach(function (users, i) {
                        str += " <option value=" + users.uid + ">" + users.uname + "</option>";
                    })
                    str += " </select>";
                    $("#fzr").html(str);
                    /*JavaScript实现*/
                    var fzr = document.getElementById("fzr");
                    fzr.onchange = function () { //当选项改变时触发
                        usersid = this.options[this.selectedIndex].value; //获取option的value
                        usersname = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
                    }
                }
            })
        }

        var valOption;
        var txtOption;
        var valOption2;
        var txtOption2;

        function province() {
            $.ajax({
                url: "/province",
                method: "post",
                data: {},
                dataType: "json",
                success: function (rel) {
                    console.log(rel.resultData)
                    let str = " <select class=\"dfselect\" id=\"testSelect\">" +
                    " <option  selected disabled value=\"[[${warehouse.provinceId}]]\" >[[${warehouse.province}]]</option>";
                    rel.resultData.forEach(function (province, i) {
                        str += "  <option value="+province.id+">"+province.pname+"</option>"
                    })
                    str+=" </select>";
                    $("#testSelect").html(str);

                    /*JavaScript实现*/
                    var testSelect = document.getElementById("testSelect");
                    testSelect.onchange = function() { //当选项改变时触发
                        valOption = this.options[this.selectedIndex].value; //获取option的value
                        txtOption = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
                        $.ajax({
                            url: "/city",
                            method: "post",
                            data: {id:valOption},
                            dataType: "json",
                            success: function (rel) {
                                console.log(rel.resultData)
                                let str2 = " <select class=\"dfselect\" id=\"testSelect2\">"
                                rel.resultData.forEach(function (city, i) {
                                    str2 += "   <option  value=" + city.id + ">" + city.cname + "</option>";
                                })
                                str2 += " </select>";
                                $("#testSelect2").html(str2);
                                var testSelect2 = document.getElementById("testSelect2");
                                testSelect2.onchange = function () { //当选项改变时触发
                                    valOption2 = this.options[this.selectedIndex].value; //获取option的value
                                    txtOption2 = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
                                }
                            }
                        })
                    }
                }
            })
        }

        function set() {
            if (confirm("是否修改")) {
                var cName = $("#ckmc").val();
                var cAddress = $("#ckdz").val();
                var provinceId = $("#testSelect").val();
                var cityId = $("#testSelect2").val();
                var usreId = $("#fzr").val();
                var phone = $("#phone").val();
                var details = $("#details").val();
                var state = $("#state").val();
                var id = [[${warehouse.id}]];
              if (bnames === true && bcAddresss === true && bphone === true) {
                $.ajax({
                  url: "/storageSet",
                  method: "post",
                  data: {
                    id: id, cName: cName, cAddress: cAddress, provinceId: provinceId,
                    cityId: cityId, usreId: usreId, phone: phone, details: details, state: state
                  },
                  dataType: "json",
                  success: function (rel) {
                    if (rel.flag == true) {
                      location.href = "/rep/ware/allWare"
                    }

                  }
                })
              }else {
                if (bnames === false){
                  $("#tip1").css({"color":"red"})
                }
                if (bcAddresss === false){
                  $("#tip2").css({"color":"red"})
                }
                if (bphone === false){
                  $("#tip4").css({"color":"red"})
                }
                alert("请填写正确信息")
              }
            }
        }

        var  ckmc;
        var  bnames = true;
       var   ckdz  ;
       var   bcAddresss = true  ;
       var  phone;
       var  bphone = true;
        function gs() {
          //仓库名格式判断
          $("#ckmc").blur(function () {
            ckmc = $("#ckmc").val();
            if (ckmc != null && ckmc != '' && ckmc.length < 30) {
              bnames = true;
              $("#ckmc").css({"borderColor": "black"});
              $("#tip1").css({"color": "black"})
            } else {
              bnames = false;
              $("#ckmc").css({"borderColor": "red"});
              $("#tip1").css({"color": "red"})
            }
          })
          //仓库地址格式判断
          $("#ckdz").blur(function () {
           ckdz = $("#ckdz").val();
            if (ckdz != null && ckdz != '' && ckdz.length < 30) {
              bcAddresss = true;
              $("#ckdz").css({"borderColor": "black"});
              $("#tip2").css({"color": "black"})
            } else {
              bcAddresss = false;
              $("#ckdz").css({"borderColor": "red"});
              $("#tip2").css({"color": "red"})
            }
          })

          //仓库联系电话格式判断
          $("#phone").blur(function () {
            phone = $("#phone").val()
            var regex = /^1\d{10}$/;
            var flag = regex.test(phone);
            if (flag){
              bphone = true;
              $("#tip4").css({"color":"black"})
              $("#phone").css({"borderColor":"black"});
            }else {
              bphone = false;
              $("#tip4").css({"color":"red"})
              $("#phone").css({"borderColor":"red"});
            }
          })
        }
    </script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>仓库管理</li>
    <li>仓库管理</li>
    <li>修改仓库</li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>仓库信息</span></div>
  <ul class="forminfo">
    <li>
      <label>仓库名称</label>
      <input id="ckmc" type="text" th:value="${warehouse.cName}" class="dfinput" />
      <i id="tip1">必填，不能超过30个字符</i>
    </li>
    <li>
      <label>仓库地址</label>
      <input id="ckdz" type="text" th:value="${warehouse.cAddress}" class="dfinput" />
      <i id="tip2">必填，不能超过30个字符</i>
    </li>
    <li>
      <label>所属区域</label>
      <select class="dfselect" id="testSelect">

      </select>
      省
      <select class="dfselect" id="testSelect2">
          <option selected="selected" th:value="${warehouse.cityId}">[[${warehouse.city}]]</option>
      </select>
      市
      <i>必选</i>
    </li>
    <li>
      <label>负责人</label>
      <select class="dfselect" id="fzr">
          <option>请选择</option>
          <option selected="selected">周仓</option>
          <option>廖化</option>
          <option>张昭</option>
      </select>
       <i>只能是财务部仓库管理员职位</i>
    </li>
    <li>
      <label>联系方式</label>
      <input id="phone" type="text" th:value="${warehouse.phone}" class="dfinput" />
       <i id="tip4">必填，不能超过11个字符</i>
    </li>
    <li>
      <label>描述</label>
      <textarea id="details" class="textinput" >[[${warehouse.details}]]</textarea>
      <i>可选</i>
    </li>
    <li>
      <label>状态</label>
      <select class="dfselect" id="state">
          <option selected disabled th:value="${warehouse.state}==1?'1':'2'" th:text="${warehouse.state}==1?'可用':'不可用'"></option>
          <option value="1">可用</option>
          <option value="2">不可用</option>
        </select>
      <i>必选</i>
    </li>
    <li>
      <label>创建人</label>
      <input name="" type="text" th:value="${warehouse.name2}" readonly="readonly" class="roinput" />
      <i>不能编辑</i>
    </li>
    <li>
      <label>创建时间</label>
      <input name="" type="text" th:value="${#dates.format(warehouse.creationTime,'yyyy-MM-dd HH:mm:ss')}" readonly="readonly" class="roinput" />
      <i>不能编辑</i>
    </li>
    <li>
      <label>&nbsp;</label>
      <input name="" type="button" class="btn" value="确定" onclick="set()"/>
      <input name="" type="button" class="btn" value="返回" th:onclick="window.location.href='/rep/ware/allWare?pageNum=[[${pageNum}]]'"/>
    </li>
  </ul>
</div>
</body>
</html>
