<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文</title>
    <link href="../../../static/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../../static/js/jquery.js"></script>
    <script type="text/javascript">
        function tipOpen(content,id,state) {
            $(".tipright p").text(content);
            $("#tip").fadeIn(200);
            $.ajax({
                url: "/idAndState",
                method: "post",
                data: {id:id,state:state},
                dataType: "json",
                success: function (rel) {

                }
            })
        }

        function tipClose() {
            $("#tip").fadeOut(200);
        }
    </script>
    <script>
        $(function () {
            var pageNumsss = "[[${pageNum}]]";
            queryWarehouse(pageNumsss);
            province();
        })

        var pageNums;
        var valOption;
        var txtOption;
        var valOption2;
        var txtOption2;
        function queryWarehouse(pageNum) {
            /*用jQuery实现*/
            var cname = $("#queryname").val();
            if (valOption=="请选择省份"){
                valOption="";
            }
            if (valOption2=="请选择城市"){
                valOption2="";
            }
            $.ajax({
                url: "/PageWarehouse",
                method: "post",
                data: {pageNum: pageNum, pageSize: 5, cname: cname,province:valOption,city:valOption2},
                dataType: "json",
                success: function (rel) {
                    pageNums=rel.pageNum;
                    let str = "     <thead>\n" +
                        "        <tr>\n" +
                        "          <th>序号</th>\n" +
                        "          <th>仓库名称</th>\n" +
                        "          <th>负责人</th>\n" +
                        "          <th>联系电话</th>\n" +
                        "          <th>所属区域</th>\n" +
                        "          <th>状态</th>\n" +
                        "          <th>创建时间</th>\n" +
                        "          <th>创建人</th>\n" +
                        "          <th>操作</th>\n" +
                        "        </tr>\n" +
                        "      </thead>";
                    rel.data.forEach(function (warehouse, i) {
                        let state = warehouse.state;
                        if (warehouse.state == 1) {
                            state = "可用";
                        } else if (warehouse.state == 2) {
                            state = "不可用";
                        }

                        let zx = warehouse.state;
                        if (warehouse.state == 1) {
                            zx = "注销";
                        } else if (warehouse.state == 2) {
                            zx = "恢复";
                        }

                        let ts = warehouse.state;
                        if (warehouse.state == 1) {
                            ts = '是否确认注销此条信息?';
                        } else if (warehouse.state == 2) {
                            ts = '是否确认恢复此条信息?';
                        }
                        str += "<tbody>\n" +
                            "   <tr>\n" +
                            "          <td>" + warehouse.id + "</td>\n" +
                            "          <td>" + warehouse.cname + "</td>\n" +
                            "          <td>" + warehouse.name + "</td>\n" +
                            "          <td>" + warehouse.phone + "</td>\n" +
                            "          <td>" + warehouse.province + "" + warehouse.city + "</td>\n" +
                            "          <td>" + state + "</td>\n" +
                            "          <td>" + warehouse.creationTime + "</td>\n" +
                            "          <td>" + warehouse.name2 + "</td>\n" +
                            "          <td>\n" +
                            "          \t<a href=\"/storageView?id="+warehouse.id+"&&pageNum="+rel.pageNum+"&&index=1\" class=\"tablelink\">查看详情</a>\n";
                        if (warehouse.state == 1) {
                            str+=  "            <a href=\"/storageUpdate?id=" + warehouse.id + "&&pageNum="+rel.pageNum+"\" class=\"tablelink\">修改</a>\n";
                        }
                        str+="            <a href=\"javascript:void(0)\" class=\"tablelink\" onclick=\"tipOpen('是否确认修改此条信息状态',"+warehouse.id+","+warehouse.state+")\">"+zx+"</a>\n" +
                            "          </td>\n" +
                            "        </tr>" +
                            "</tbody>\n";

                    })
                    $(".tablelist").html(str);

                    var index = " <div class=\"message\">共<i class=\"blue\">" + rel.totalCount + "</i>条记录，当前显示第&nbsp;<i class=\"blue\">" + rel.pageNum + "&nbsp;</i>页</div>";
                    index += "<ul class=\"paginList\">"
                    var before = rel.pageNum - 1;
                    if (before <= 1) {
                        before = 1;
                    }
                    index += " <li class=\"paginItem\"><a onclick=\"queryWarehouse(" + before + ")\" href=\"javascript:;\"><span class=\"pagepre\"></span></a></li>";

                    var begin = rel.pageNum - 5;
                    var end = rel.pageNum + 4;
                    if (begin < 1) {
                        begin = 1;
                        end = 10;
                    }
                    if (end > rel.totalPage) {
                        end = rel.totalPage;
                        begin = end - 9;
                    }
                    if (rel.totalPage < 10) {
                        begin = 1;
                        end = rel.totalPage;
                    }

                    for (let i = begin; i <= end; i++) {
                        var li;
                        if (rel.pageNum === i) {
                            li = "<li class=\"paginItem\"><a onclick=\"queryWarehouse(" + i + ")\" href=\"javascript:;\">" + i + "</a></li>"
                        }
                        index += "<li class=\"paginItem\"><a onclick=\"queryWarehouse(" + i + ")\" href=\"javascript:;\">" + i + "</a></li>";
                    }
                    var afterNum = rel.pageNum + 1;
                    if (afterNum >= rel.totalPage) {
                        afterNum = rel.totalPage;
                    }
                    index += "<li class=\"paginItem\"><a onclick=\"queryWarehouse(" + afterNum + ")\" href=\"javascript:;\"><span class=\"pagenxt\"></span></a></li>";
                    index += "</ul>"
                    $(".pagin").html(index);
                }
            })
        }

        function province() {
            $.ajax({
                url: "/province",
                method: "post",
                data: {},
                dataType: "json",
                success: function (rel) {
                    console.log(rel.resultData)
                  let str = "<select id=\"testSelect\">" +
                      "   <option>请选择省份</option>" ;
                  rel.resultData.forEach(function (warehouse, i) {
                        str += "  <option value="+warehouse.id+">"+warehouse.pname+"</option>";
                  })
                    str+=" </select>";
                  $("#testSelect").html(str);

                    /*JavaScript实现*/
                    var testSelect = document.getElementById("testSelect");
                    testSelect.onchange = function() { //当选项改变时触发
                       valOption = this.options[this.selectedIndex].value; //获取option的value
                       txtOption = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
                        $.ajax({
                            url: "/city",
                            method: "post",
                            data: {id:valOption},
                            dataType: "json",
                            success: function (rel) {
                                console.log(rel.resultData)
                                let str2 = "<select id=\"testSelect2\">\n" +
                                    "                    <option>请选择城市</option>"
                                rel.resultData.forEach(function (city, i) {
                                    str2 += "   <option  value=" + city.id + ">" + city.cname + "</option>";
                                })
                                str2 += " </select>";
                                $("#testSelect2").html(str2);
                                var testSelect2 = document.getElementById("testSelect2");
                                testSelect2.onchange = function () { //当选项改变时触发
                                    valOption2 = this.options[this.selectedIndex].value; //获取option的value
                                    txtOption2 = this.options[this.selectedIndex].innerHTML; //获取option中间的文本
                                }
                            }
                        })
                    }
                }
            })
        }
        function ztxg() {
            $.ajax({
                url: "/UpdateIdAndState",
                method: "post",
                data: {},
                dataType: "json",
                success: function (rel) {
                    tipClose();
                    queryWarehouse(pageNums);
                }
            })
        }

    </script>
</head>
<body>
<div class="place"><span>位置：</span>
    <ul class="placeul">
        <li>仓库管理</li>
        <li>仓库管理</li>
        <li>基本内容</li>
    </ul>
</div>
<div class="rightinfo">
    <form action="" method="post">
        <ul class="tools">
            <li>仓库名称:
                <input type="text" id="queryname"/>
            </li>
            <li id="sf"> 所属区域：
                <select id="testSelect">
                </select>
                <select id="testSelect2">
                    <option>请选择城市</option>

                </select>
            </li>
            <li class="subBut" onclick="queryWarehouse()"><img src="../../../static/images/t06.png"/>查询</li>
            <li class="subBut" onclick="window.location.href='/storageAdd'"><img src="../../../static/images/t01.png"/>添加
            </li>
        </ul>
        <table class="tablelist">

            <tbody>
            </tbody>
        </table>
        <div class="pagin">
            <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
            <ul class="paginList">

            </ul>
        </div>
    </form>
    <!-- 提示框 -->
    <div id="tip" class="tip">
        <div class="tiptop"><span>提示信息</span><a onclick="tipClose()"></a></div>
        <div class="tipinfo"><span><img src="../../../static/images/ticon.png"/></span>
            <div class="tipright">
                <p></p>
                <cite>如果是请点击确定按钮 ，否则请点取消。</cite></div>
        </div>
        <div class="tipbtn">
            <input name="" type="button" class="sure" value="确定" onclick="ztxg()"/>
            &nbsp;
            <input name="" type="button" class="cancel" value="取消" onclick="tipClose()"/>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>

