<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
  <script>
    function getParameter(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
      var r = location.search.substr(1).match(reg);
      if (r != null) {
        return (r[2]);
      }
      return null;
    }
    $(function (){
      var a = 0;
      var parameter = getParameter("purchaseId");
      $("#thisId").val(parameter);
      $.ajax({
        url: "/purchase/purchaseUpdateBack",
        method: "post",
        data: {purchaseId: parameter},
        success: function (rel) {
          $("#purchaseId").html(rel.resultData.purchaseId);
          $("#purchaseTime").html(rel.resultData.purchaseTime);
          $("#creatName").html(rel.resultData.creatName);
          var details = rel.resultData.details;
          var sum = 0;
          for (let index = 0; index < details.length; index++) {
            sum += details[index].totalMoney;
            a++;
            var str = '      <tr class="newRow">\n' +
                    '          <td>' + a + '</td>\n' +
                    '          <td>' + details[index].brandName + '</td>\n' +
                    '          <td>' + details[index].typeName + '</td>\n' +
                    '          <td>' + details[index].productName + '</td>\n' +
                    '          <td>' + details[index].firmName + '</td>' +
                    '          <td class="count">' + details[index].count + '</td>\n' +
                    '          <td class="proUnit">' + details[index].proUnit + '</td>\n' +
                    '          <td class="price">' + details[index].purchasePrice + '</td>\n' +
                    '          <td class="totalPrice">' + details[index].totalMoney + '</td>\n' +
                    '      </tr>'
            $("#purchases").html(str);
          }
          $("#totalMoney").html("￥" + sum);
        }
      })

    })
    function check() {
      var val = $("#check_opinion").val();
      var val2 = $("#check_status").val();
      var thisId = $("#thisId").val();
      $.ajax({
        url: "/purchase/purchaseCheck",
        method: "post",
        data: {purchaseId: thisId,checkOpinion:val,checkStatus:val2},
        success: function () {
          location.href = "/purchase/purchaseExamine/dlist";
        }
      })
    }
  </script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>采购管理</li>
    <li>采购单审核</li>
    <li>审核</li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>采购单审核</span></div>
  <ul class="forminfo">
    <li>
      <label>采购单编号</label>
      <cite id="purchaseId">CG201711180001</cite>
    </li>
    <li>
      <label>采购购时间</label>
      <cite id="purchaseTime">2017-11-18 15:36:10</cite>
    </li>
    <li>
      <label>总金额</label>
       <cite id="totalMoney">￥9,876,582</cite>
    </li>
    <li>
      <label>操作人</label>
      <cite id="creatName">关羽</cite>
    </li>
  </ul>
  <table class="tablelist" id="tablelist">
      <thead>
        <tr>
          <th>序号</th>
          <th>品牌</th>
          <th>类型</th>
          <th>型号</th>
          <th>厂商</th>
          <th>数量</th>
          <th>单位</th>
          <th>单价</th>
          <th>金额</th>
        </tr>
      </thead>
      <tbody id="purchases">
        <tr>
          <td>1</td>
          <td>联想</td>
          <td>笔记本电脑</td>
          <td>T470</td>
          <td>北京联想科技股份有限公司</td>
          <td>10</td>
          <td>台</td>
          <td>9998</td>
          <td>99980</td>
        </tr>
        <tr>
          <td>2</td>
          <td>联想</td>
          <td>笔记本电脑</td>
          <td>X260</td>
          <td>北京联想科技股份有限公司</td>
          <td>5</td>
          <td>台</td>
          <td>5500</td>
          <td>27500</td>
        </tr>
      </tbody>
  </table>
  <ul class="forminfo">
    <li>
      <label>审核意见</label>
      <input id="thisId" name="purchaseId" type="hidden"/>
      <textarea id="check_opinion" class="textinput"></textarea>
    </li>
    <li>
      <label>审核状态</label>
      <select id="check_status" class="dfselect">
          <option value="0">请选择</option>
          <option value="3">通过</option>
          <option value="4">不通过</option>
      </select>
    </li>
    <li>
      <label>&nbsp;</label>
      <input name="" type="button" class="btn" value="审核" onclick="check()"/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="" type="button" class="btn" value="返回" onclick="window.location.href='/purchase/purchaseExamine/dlist'"/>
    </li>
  </ul>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
