<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
  <script>
    function findPurchaseList(pageNum,pageSize) {
      $("#pageNum").val(pageNum);
      $("#pageSize").val(pageSize);
      $.ajax({
        type:"post",
        url:"/purchase/findExaminePurchase",
        data: $("#searchForm").serializeArray(),
        success:function (rel) {
          var totalCount = rel.resultData.totalCount;
          var pageNum = rel.resultData.pageNum;
          var totalPage = rel.resultData.totalPage;
          var pageSize = rel.resultData.pageSize;
          var beforpageNum = pageNum - 1;
          if (beforpageNum <= 0){
            beforpageNum = 1;
          }
          var afterpageNum = pageNum + 1;
          if (afterpageNum >= totalPage){
            afterpageNum = totalPage;
          }
          let begin;
          let end;
          if (totalPage < 10){
            begin = 1;
            end = totalPage;
          }else{
            begin = pageNum - 5;
            end = pageNum + 4;

            if (begin < 1){
              begin = 1;
              end = 10;
            }
            if (end > totalPage){
              end = totalPage;
              begin = end - 9;
            }
          }
          var str = '      <thead>\n' +
                  '        <tr>\n' +
                  '          <th>序号</th>\n' +
                  '          <th>采购单编号</th>\n' +
                  '          <th>采购时间</th>\n' +
                  '          <th>金额</th>\n' +
                  '          <th>操作人</th>\n' +
                  '          <th>审核状态</th>\n' +
                  '          <th>操作</th>\n' +
                  '        </tr>\n' +
                  '      </thead>\n' +
                  '      <tbody>';
          var a = 0 ;
          var status = "审核中";
          for (var i = 0; i < rel.resultData.data.length ; i++) {
            a++;
            var purchaseId = rel.resultData.data[i].purchaseId;
            str += '        <tr>\n' +
                    '          <td>' + a + '</td>\n' +
                    '          <td>' + purchaseId + '</td>\n' +
                    '          <td>' + rel.resultData.data[i].purchaseTime + '</td>\n' +
                    '          <td>￥' + rel.resultData.data[i].totalMoney + '</td>\n' +
                    '          <td>' + rel.resultData.data[i].creatName + '</td>\n' +
                    '          <td>' + status + '</td>\n' +
                    '          <td>\n' +
                    '            <a href="/purchase/purchaseExamine?purchaseId=' + purchaseId + '" class="tablelink">审核</a>\n' +
                    '            </td>\n' +
                    '        </tr>';
          }
          str += '      </tbody>'
          $("#tablelist").html(str);
          var str2 = '<div class="message">共<i class="blue">'+totalCount+'</i>条记录，当前显示第&nbsp;<i class="blue">'+pageNum+'&nbsp;</i>页</div>\n' +
                  '      <ul class="paginList">\n' +
                  '        <li class="paginItem"><a href="javascript:;" onclick="findPurchaseList('+beforpageNum+','+pageSize+')"><span class="pagepre"></span></a></li>'

          for (let i = begin; i <= end; i++) {
            if (i == pageNum){
              str2 += '<li class="paginItem current"><a href="javascript:;" onclick="findPurchaseList('+ i +','+pageSize+')">'+ i +'</a></li>';
            }else {
              str2 += '<li class="paginItem"><a href="javascript:;" onclick="findPurchaseList('+ i +','+pageSize+')">'+ i +'</a></li>';
            }
          }
          str2 += '<li class="paginItem"><a href="javascript:;" onclick="findPurchaseList('+afterpageNum+','+pageSize+')"><span class="pagenxt"></span></a></li>\n' +
                  '      </ul>';
          $(".pagin").html(str2);
        }
      })
    }
    $(function () {
      var pageNum = 1;
      var pageSize = 5;
      findPurchaseList(pageNum,pageSize);
    })
    function searchPurchases() {
      var pageNum = 1;
      var pageSize = 5;
      findPurchaseList(pageNum,pageSize)
    }
  </script>
<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>采购管理</li>
    <li>采购单审核</li>
    <li>基本内容</li>
  </ul>
</div>
<div class="rightinfo">
  <form action="" method="post" id="searchForm">
    <ul class="tools">
      <li> 采购单编号:
        <input name="purchaseId" type="text" />
        <input id="pageNum" name="pageNum" type="hidden" value="1"/>
        <input id="pageSize" name="pageSize" type="hidden" value="5"/>
      </li>
      <li> 采购时间:
        <input name="minPurchaseTime" type="text" />-<input name="maxPurchaseTime" type="text" />
      </li>
      <li> 金额:
        <input name="minTotalMoney" type="text" class="stinput" />-<input name="maxTotalMoney" type="text" class="stinput" />
      </li>
      <li class="subBut" onclick="searchPurchases()">
      <img src="../../../static/images/t06.png" />查询
      </li>
    </ul>
    <table class="tablelist" id="tablelist">
      <thead>
        <tr>
          <th>序号</th>
          <th>采购单编号</th>
          <th>采购时间</th>
          <th>金额</th>
          <th>操作人</th>
          <th>审核状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>DJ201701270001</td>
          <td>2017-01-25 15:05:05</td>
          <td>￥9,876,582</td>
          <td>关羽</td>
          <td>审核中</td>
          <td>
            <a href="purchaseExamine.html" class="tablelink">审核</a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>DJ201701270002</td>
          <td>2017-01-25 15:05:05</td>
          <td>￥9,876,582</td>
          <td>关羽</td>
          <td>审核中</td>
          <td>
            <a href="purchaseExamine.html" class="tablelink">审核</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagin">
      <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
      <ul class="paginList">
        <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
        <li class="paginItem"><a href="javascript:;">1</a></li>
        <li class="paginItem current"><a href="javascript:;">2</a></li>
        <li class="paginItem"><a href="javascript:;">3</a></li>
        <li class="paginItem"><a href="javascript:;">4</a></li>
        <li class="paginItem"><a href="javascript:;">5</a></li>
        <li class="paginItem more"><a href="javascript:;">...</a></li>
        <li class="paginItem"><a href="javascript:;">10</a></li>
        <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
      </ul>
    </div>
  </form>
</div>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
