<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ERP仓储管理系统</title>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="../static/js/jquery.js"></script>
<script src="../static/js/cloud.js" type="text/javascript"></script>

<script language="javascript">
	$(function(){
    $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
	$(window).resize(function(){  
    $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
    })
        $.ajax({
            url:"/loginBack",
            method:"post",
            data: {},
            success:function (data){
                $("#uname").val(data.uname);
                $("#upassword").val(data.upassword);
            }
        })
    });

    function login(){
        $.ajax({
            url:"/login",
            method:"post",
            data:$("#loginForm").serializeArray(),
            success:function (data){
                if (data.flag === true){
                    location.href = "/main"
                }else{
                    alert(data.msg);
                }
            }
        })
    }
</script> 

</head>

<body style="background-color:#df7611; background-image:url(../static/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">

    <div id="mainBody">
      <div id="cloud1" class="cloud"></div>
      <div id="cloud2" class="cloud"></div>
    </div>  


	<div class="logintop">    
        <span>ERP仓储管理系统</span>   
    </div>
    
    <div class="loginbody">
    
    <span class="systemlogo"></span> 
       
    <div class="loginbox loginbox1">
    <form id="loginForm">
        <ul>
            <li><input id="uname" name="uname" type="text" class="loginuser" onclick="JavaScript:this.value=''"/></li>
            <li><input id="upassword" name="upassword" type="text" class="loginpwd" onclick="JavaScript:this.value=''"/></li>
            <!--    <li class="yzm">-->
            <!--    <span><input name="" type="text" value="验证码" onclick="JavaScript:this.value=''"/></span><cite>X3D5S</cite> -->
            <!--    </li>-->
        </ul>
        <ul>
            <li><input id="loginbtn" type="button" class="loginbtn" value="登录"  onclick="login()"  /><label><input name="remember" type="checkbox" value="1" checked="checked" />记住密码</label><label><a href="#">忘记密码？</a></label></li>
        </ul>
    </form>
    </div>
    
    </div>
    
    
    <div class="loginbm">版权归南昌朝腾科技所有，仅供学习交流，勿用于任何商业用途</div>
	
    
</body>

</html>
