<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>模块管理</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
<script type="text/javascript">
function tipOpen(content) {
	$(".tipright p").text(content);
	$("#tip").fadeIn(200);
}
function tipClose() {
	$("#tip").fadeOut(200);
}

//模块禁用
function disuse(mid,pageNum){

  $.ajax({
    url:"/updatemodulestatus",
    type:"post",
    dataType:"json",
    data:{mId:mid},
    success:function (dat) {
      query(pageNum)
    },

  })

}

function query(pageNum){
  let moduleRname = $("#moduleRname").val().trim();
  $.ajax({
    url:"/modulelist",
    type:"post",
    dataType:"json",
    data:{pageNum:pageNum,moduleRname:moduleRname},
    success:function (dat) {
      let resultData = dat.resultData.data;
      //------------------------------------------------------------------------------------------------------------------------
      let totalPage = dat.resultData["totalPage"];//总页数
      let totalCount = dat.resultData.totalCount;//总条数
      let pageNum = dat.resultData.pageNum;//当前页0
      //上一页
      let pageBefore = pageNum-1;
      //下一页
      let pageNext;
      if (pageNum + 1 > totalPage) {
        pageNext = totalPage;
      }else {
        pageNext = pageNum+1;
      }
      //------------------------------------------------------------------
      let str = ``
      for (let i = 0; i < resultData.length; i++) {
        let resultDatum = resultData[i];

        let state;
        if (resultDatum.moduleState === 1) {
          resultDatum.moduleState = "禁用"
          state="恢复"
        } else {
          resultDatum.moduleState = "启用"
          state="禁用"
        }
        str += `<tr>
          <td>${i + 1}</td>
          <td>${resultDatum.moduleRname}</td>
          <td>${resultDatum.pn}</td>
          <td>${resultDatum.moduleMurl}</td>
          <td>${resultDatum.moduleState}</td>
          <td>
            <a href="/moduleView/${resultDatum.moduleId}" class="tablelink">查看详情</a>
            <a href="/moduleUpdate/${resultDatum.moduleId}" class="tablelink">修改</a>
            <a href="javascript:void(0);" class="tablelink" onclick="disuse(${resultDatum.moduleId},${pageNum})">${state}</a>
          </td>
        </tr>`


      }
      $("#modulelist").html(str)
      $('.tablelist tbody tr:odd').addClass('odd');

      //------------------------------------------------------------------------------------------------------------------------
      //拼分页
      let str1 = `<li class="paginItem"><a href="javascript:query(${pageBefore});"><span class="pagenxt"></span></a></li>`

      for (let i = 0; i < totalPage; i++) {
        let nowPage = i+1;
        if (pageNum==i+1){
          str1 += `<li class="paginItem current"><a href="javascript:query(${nowPage});">${nowPage}</a></li>`
        }else {
          str1 += `<li class="paginItem"><a href="javascript:query(${nowPage});">${nowPage}</a></li>`
        }
      }
      str1 += ` <li class="paginItem"><a href="javascript:query(${pageNext});"><span class="pagenxt"></span></a></li>`

      $("#pag").html(str1)

      let str2 = `共<i class="blue">${totalCount}</i>条记录，当前显示第&nbsp;<i class="blue">${pageNum}&nbsp;</i>页`
      $("#pag2").html(str2)
      //------------------------------------------------------------------------------------------------------------------------
    }
  })
}
$(function () {
  let pageNum = 1
  query(pageNum)

  $("#search").click(function () {

    query(pageNum)

  })
})
</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="../users/userList.html">系统管理</a></li>
    <li><a href="#">模块管理</a></li>
  </ul>
</div>
<div class="rightinfo">
  <form action="" method="post">
    <ul class="tools">
      <li> <label>模块名称:</label>
        <input type="text" id="moduleRname"/>
      </li>

      <li class="subBut" onclick="" id="search"><img src="../../../static/images/t06.png" />查询</li>
      <li class="subBut" ><a href="/addmodule"><img src="../../../static/images/t01.png" />添加</a></li>
    </ul>
    <table class="tablelist">
      <thead>
        <tr>
          <th>序号</th>
          <th>模块名称</th>
          <th>父模块</th>
          <th>URL</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="modulelist">

<!--        <tr>-->
<!--          <td>1</td>-->
<!--          <td>系统管理</td>-->
<!--          <td>无</td>-->
<!--          <td>#</td>-->
<!--          <td>正常</td>-->
<!--          <td>-->
<!--            <a href="moduleUpdate.html" class="tablelink">修改</a>-->
<!--            <a href="javascript:void(0);" class="tablelink" onclick="tipOpen('是否确禁用此模块？')">禁用</a>-->
<!--          </td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--          <td>2</td>-->
<!--          <td>用户管理</td>-->
<!--          <td>系统管理</td>-->
<!--          <td>sys/users/userList.html</td>-->
<!--          <td>正常</td>-->
<!--          <td>-->
<!--            <a href="moduleUpdate.html" class="tablelink">修改</a>-->
<!--            <a href="javascript:void(0);" class="tablelink" onclick="tipOpen('是否确禁用此模块？')">禁用</a>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>3</td>-->
<!--          <td>部门管理</td>-->
<!--          <td>系统管理</td>-->
<!--          <td>sys/dept/deptList.html</td>-->
<!--          <td>正常</td>-->
<!--          <td>-->
<!--            <a href="moduleUpdate.html" class="tablelink">修改</a>-->
<!--            <a href="javascript:void(0);" class="tablelink" onclick="tipOpen('是否确禁用此模块？')">禁用</a>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>3</td>-->
<!--          <td>测试管理</td>-->
<!--          <td>无</td>-->
<!--          <td>#</td>-->
<!--          <td>禁用</td>-->
<!--          <td>-->
<!--            <a href="moduleUpdate.html" class="tablelink">修改</a>-->
<!--            <a href="javascript:void(0);" class="tablelink" onclick="tipOpen('是否确启用此模块？')">启用</a>-->
<!--          </td>-->
<!--        </tr>-->
      </tbody>
    </table>
    <div class="pagin">
      <div class="message" id="pag2">
<!--        共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页-->
      </div>
      <ul class="paginList" id="pag">
<!--        <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">1</a></li>-->
<!--        <li class="paginItem current"><a href="javascript:;">2</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">3</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">4</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">5</a></li>-->
<!--        <li class="paginItem more"><a href="javascript:;">...</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;">10</a></li>-->
<!--        <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>-->
      </ul>
    </div>
  </form>
  <!-- 提示框 -->
  <div id="tip" class="tip">
    <div class="tiptop"><span>提示信息</span><a onclick="tipClose()"></a></div>
    <div class="tipinfo"> <span><img src="../../../static/images/ticon.png" /></span>
      <div class="tipright">
        <p></p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite> </div>
    </div>
    <div class="tipbtn">
      <input name="" type="button"  class="sure" value="确定" onclick="tipClose()" />
      &nbsp;
      <input name="" type="button"  class="cancel" value="取消" onclick="tipClose()" />
    </div>
  </div>
</div>
<script type="text/javascript">

</script>
</body>
</html>
