<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>模块管理</title>
  <script type="text/javascript" src="../../../static/js/jquery.js"></script>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/laydate/laydate.js"></script>
<script type="text/javascript">
  //查父模块
  function queryfathermodule(){
    $.ajax({
      url:"/simplefathermodulelist",
      type:"post",
      dataType:"json",
      data:{},
      success:function (dat) {
        let resultData = dat.resultData;
        let str = ``
        for (let i = 0; i < resultData.length; i++) {
          let resultDatum = resultData[i];
          str += `<option value="${resultDatum.moduleId}">${resultDatum.moduleRname}</option>`
        }
        str += `<option value="0" selected>请选择</option>`
        $("#modulePid").html(str)
      }
    })
  }

  //添加
  function add(){
    $.ajax({
      url:"/moduleadd",
      type:"post",
      dataType:"json",
      data:$("#form1").serializeArray(),
      success:function (dat) {
        window.location.href="/sys/modules/moduleList"
      }
    })
  }

  function fun1(){
    let sum = 0;
    $(".must").each(function(index,value){
      if ($(this).val() === "") {
      }else {
        sum += 1
      }
    })
    if (sum === 3) {
      let moduleRname = $("#moduleRname").val();
      $.ajax({
        url:"/haveornomodule",
        type:"post",
        dataType:"json",
        data:{moduleRname:moduleRname},
        success:function (dat) {
          if (!dat) {
            $("#but1").removeClass("btn_add_no")//条件满足样式改变
            $("#but1").attr("disabled",false)
          }
        }
      })
    }else {
      $("#but1").addClass("btn_add_no")//条件不满足样式改变
      $("#but1").attr("disabled",true)
    }
  }

  $(function () {

    fun1()
    $(".must").blur(function () {
      fun1()
    })

    queryfathermodule()
  })
</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="../users/userList.html">系统管理</a></li>
    <li><a href="moduleList.html">模块管理</a></li>
    <li><a href="#">添加</a></li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>模块信息</span></div>
  <ul class="forminfo">
    <form id="form1">
    <li>
      <label>模块名称</label>
      <input id="moduleRname" name="moduleRname" type="text" class="dfinput must"/>
      <i>必填，不能超过30个字符</i>
    </li>
    <li>
      <label>父模块</label>
      <select name="modulePid" class="dfselect must" id="modulePid">
        <option value="">请选择父模块</option>
        <option value="" selected="selected">系统管理</option>
        <option value="">营销管理</option>
        <option value="">采购管理</option>
      </select>
    </li>
    <li>
      <label>URL</label>
      <input name="moduleMurl" type="text" class="dfinput must"/>
      <i>必填，不能超过30个字符</i>
    </li>
    </form>
    <li>
      <label>&nbsp;</label>
      <input id="but1" disabled="disabled" name="" onclick="add()" type="button" class="btn" value="确认保存"/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="" type="button" class="btn" value="返回"  onclick="window.history.go(-1);"/>
    </li>
  </ul>
</div>
</body>
</html>
