<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>模块管理</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/laydate/laydate.js"></script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="../users/userList.html">系统管理</a></li>
    <li><a href="moduleList.html">模块管理</a></li>
    <li><a href="#">修改</a></li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>模块信息</span></div>
  <ul class="forminfo">
    <li>
      <label>模块名称</label>
      <input name="" type="text" value="用户管理" class="dfinput"/>
      <i>必填，不能超过30个字符</i>
    </li>
    <li>
      <label>父模块</label>
      <select name="" class="dfselect">
        <option value="" selected="selected">系统管理</option>
        <option value="">营销管理</option>
        <option value="">采购管理</option>
      </select>
    </li>
    <li>
      <label>URL</label>
      <input name="" type="text" value="sys/users/userList.html" class="dfinput"/>
      <i>必填，不能超过30个字符</i>
    </li>
    <li>
      <label>&nbsp;</label>
      <input name="" type="button" class="btn" value="确认保存"/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="" type="button" class="btn" value="返回"  onclick="window.history.go(-1);"/>
    </li>
  </ul>
</div>
</body>
</html>
