<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>数据统计</li>
    <li>入库统计</li>
    <li>入库详情</li>
  </ul>
</div>
<div class="rightinfo">
  <form action="" method="post">
    <table class="tablelist">
      <thead>
        <tr>
          <th>序号</th>
          <th>仓库名称</th>
          <th>采购单编号</th>
          <th>商品数量</th>
          <th>金额</th>
          <th>入库时间</th>
          <th>入库人</th>
          <th>采购单详情</th>
        </tr>
      </thead>
      <tbody id="datalist">
        <tr>
          <td>1</td>
          <td>南京21号仓库</td>
          <td>CG201701270001</td>
          <td>5</td>
          <td>￥76,582</td>
          <td>2017-01-25 15:05:05</td>
          <td>马云</td>
          <td>
          	<a href="../../storage/stock/stockView.html" class="tablelink">查看详情</a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>南京21号仓库</td>
          <td>CG201701270002</td>
          <td>5</td>
          <td>￥76,582</td>
          <td>2017-01-25 15:05:05</td>
          <td>马云</td>
          <td>
          	<a href="../../storage/stock/stockView.html" class="tablelink">查看详情</a>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>南京21号仓库</td>
          <td>CG201701270003</td>
          <td>5</td>
          <td>￥76,582</td>
          <td>2017-01-25 15:05:05</td>
          <td>马云</td>
          <td>
          	<a href="/stockDetailStatisView" class="tablelink">查看详情</a>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>南京21号仓库</td>
          <td>CG201701270004</td>
          <td>5</td>
          <td>￥76,582</td>
          <td>2017-01-25 15:05:05</td>
          <td>马云</td>
          <td>
          	<a href="../../storage/stock/stockView.html" class="tablelink">查看详情</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagin">
      <div class="message">共<i class="blue" id="totalCount">1256</i>条记录，当前显示第&nbsp;<i class="blue" id="pageNum">2&nbsp;</i>页</div>
      <ul class="paginList" id="pagin">
        <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
        <li class="paginItem"><a href="javascript:;">1</a></li>
        <li class="paginItem current"><a href="javascript:;">2</a></li>
        <li class="paginItem"><a href="javascript:;">3</a></li>
        <li class="paginItem"><a href="javascript:;">4</a></li>
        <li class="paginItem"><a href="javascript:;">5</a></li>
        <li class="paginItem more"><a href="javascript:;">...</a></li>
        <li class="paginItem"><a href="javascript:;">10</a></li>
        <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
      </ul>
    </div>
  </form>
</div>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
<script>

  function getParameter(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = location.search.substr(1).match(reg);
    if (r != null) {
      return (r[2]);
    }
    return null;
  }

  $(function () {
    var pageNum = 1;
    var pageNumsss = "[[${pageNum}]]"
    if (pageNumsss != ''){
      pageNum = pageNumsss;
    }
      query(pageNum);
  })

  function query(pageNum) {
    var wid = getParameter("wid");
    $.ajax({
      url: "/RkWareStatisPage",
      method: "POST",
      data: {wid:wid,pageNum:pageNum},
      success: function (rel) {
        var str = '';

        for (let i = 0; i <rel.resultData.data.length ; i++) {
          var sum = 0 ;
          var cg = rel.resultData.data[i];
          for (let j = 0; j <cg.statisCDetails.length ; j++) {
            sum += cg.statisCDetails[j].totalMoney;
          }

          str += '     <tr>\n' +
                  '          <td>'+(i+1+(pageNum-1)*rel.resultData.pageSize)+'</td>\n' +
                  '          <td>'+cg.warehousename+'</td>\n' +
                  '          <td>'+cg.rkIndent+'</td>\n' +
                  '          <td>'+cg.statisCDetails.length+'</td>\n' +
                  '          <td>￥'+sum+'</td>\n' +
                  '          <td>'+cg.rkDate+'</td>\n' +
                  '          <td>'+cg.users.uname+'</td>\n' +
                  '          <td>\n' +
                  '          \t<a href="/stockView?pageNum='+rel.resultData.pageNum+'&&rkIndentString='+cg.rkIndent+'&&index=3" class="tablelink">查看详情</a>\n' +
                  '          </td>\n' +
                  '        </tr>';

        }
        $("#datalist").html(str);



        $("#totalCount").html(rel.resultData.totalCount);
        $("#pageNum").html(rel.resultData.pageNum);
        var begin = rel.resultData.pageNum - 5;
        var end = rel.resultData.pageNum + 4;
        if (begin < 1) {
          begin = 1;
          if (rel.resultData.totalPage < 10) {
            end = rel.resultData.totalPage;
          } else {
            end = 10;
          }
        }
        if (end > rel.resultData.totalPage) {
          end = rel.resultData.totalPage;
          if (begin <= 0) {
            begin = 1;
          } else {
            begin = rel.resultData.totalPage - 9;
          }
        }
        var page = '';
        page += '<li class="paginItem" id="up"><a onclick="query(' + (rel.resultData.pageNum - 1) + ')"><span class="pagepre"></span></ a></li>';
        for (var i = begin; i <= end; i++) {
          if (i == rel.resultData.pageNum) {
            page += '<li class="paginItem current"><a onclick="query(' + i + ')">' + i + '</ a></li>';
          } else {
            page += '<li class="paginItem"><a onclick="query(' + i + ')">' + i + '</ a></li>';
          }
        }
        page += '<li class="paginItem" id="down"><a onclick="query(' + (rel.resultData.pageNum + 1) + ')"><span class="pagenxt"></span></ a></li>';
        $("#pagin").html(page);
        if (rel.resultData.pageNum == 1) {
          // $("#up").removeAttr("onclick");
          $("#up").attr("disabled", true).css("pointer-events", "none")
        }
        if (rel.resultData.pageNum == rel.resultData.totalPage) {
          // $("#down").removeAttr("onclick");
          $("#down").attr("disabled", true).css("pointer-events", "none")
        }

      }
    })

  }
</script>