<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>数据统计</li>
    <li>入库统计</li>
    <li>入库详情</li>
  </ul>
</div>
<div class="rightinfo">
  <form action="" method="post">
    <table class="tablelist">
      <thead>
        <tr>
          <th>序号</th>
          <th>仓库名称</th>
          <th>采购单编号</th>
          <th>商品数量</th>
          <th>金额</th>
          <th>入库时间</th>
          <th>入库人</th>
          <th>采购单详情</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>南京21号仓库</td>
          <td>CG201701270001</td>
          <td>5</td>
          <td>￥76,582</td>
          <td>2017-01-25 15:05:05</td>
          <td>马云</td>
          <td>
          	<a href="../../storage/stock/stockView.html" class="tablelink">查看详情</a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>南京21号仓库</td>
          <td>CG201701270002</td>
          <td>5</td>
          <td>￥76,582</td>
          <td>2017-01-25 15:05:05</td>
          <td>马云</td>
          <td>
          	<a href="../../storage/stock/stockView.html" class="tablelink">查看详情</a>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>南京21号仓库</td>
          <td>CG201701270003</td>
          <td>5</td>
          <td>￥76,582</td>
          <td>2017-01-25 15:05:05</td>
          <td>马云</td>
          <td>
          	<a href="../../storage/stock/stockView.html" class="tablelink">查看详情</a>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>南京21号仓库</td>
          <td>CG201701270004</td>
          <td>5</td>
          <td>￥76,582</td>
          <td>2017-01-25 15:05:05</td>
          <td>马云</td>
          <td>
          	<a href="../../storage/stock/stockView.html" class="tablelink">查看详情</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagin">
      <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
      <ul class="paginList">
        <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
        <li class="paginItem"><a href="javascript:;">1</a></li>
        <li class="paginItem current"><a href="javascript:;">2</a></li>
        <li class="paginItem"><a href="javascript:;">3</a></li>
        <li class="paginItem"><a href="javascript:;">4</a></li>
        <li class="paginItem"><a href="javascript:;">5</a></li>
        <li class="paginItem more"><a href="javascript:;">...</a></li>
        <li class="paginItem"><a href="javascript:;">10</a></li>
        <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
      </ul>
    </div>
  </form>
</div>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
