<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
  <script>
    $(function () {
      cgmx()
    })

    function cgmx() {
      $.ajax({
        url: "/Orderdetails",
        method: "post",
        data: {},
        dataType: "json",
        success: function (rel) {
          console.log(rel)
          let str = "<thead>\n" +
                  "        <tr>\n" +
                  "          <th>序号</th>\n" +
                  "          <th>品牌</th>\n" +
                  "          <th>类型</th>\n" +
                  "          <th>型号</th>\n" +
                  "          <th>厂商</th>\n" +
                  "          <th>数量</th>\n" +
                  "          <th>单位</th>\n" +
                  "          <th>单价</th>\n" +
                  "          <th>金额</th>\n" +
                  "        </tr>\n" +
                  "      </thead>";
          str+=" <tbody>";
          rel.resultData.forEach(function (warehouse, i) {
            str+=" <tr>\n" +
                    "          <td>"+warehouse.detailsId+"</td>\n" +
                    "          <td>"+warehouse.sppm+"</td>\n" +
                    "          <td>"+warehouse.splx+"</td>\n" +
                    "          <td>"+warehouse.spxh+"</td>\n" +
                    "          <td>"+warehouse.csmc+"</td>\t\n" +
                    "          <td>"+warehouse.purchaseNum+"</td>\n" +
                    "          <td>台</td>\n" +
                    "          <td>"+warehouse.proprice+"</td>\n" +
                    "          <td>"+warehouse.prototal+"</td>\n" +
                    "        </tr>"
          })
          str+=" </tbody>";
          $(".tablelist").html(str);
        }
      })
    }

  </script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>营销管理</li>
    <li>订购单管理</li>
    <li>订购单详情</li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>订购单信息</span></div>
  <ul class="forminfo">
    <li>
      <label>订单编号</label>
      <cite>[[${ckWarehouse.indent}]]</cite>
    </li>
    <li>
      <label>客户姓名</label>
      <cite><a href="../../market/customer/customerView.html" title="点击查看客户详细信息" class="tablelink"></a>[[${ckWarehouse.customname}]]</cite>
    </li>
    <li>
      <label>联系电话</label>
      <cite>[[${ckWarehouse.telephone}]]</cite>
    </li>
    <li>
      <label>订购时间</label>
      <cite>[[${#dates.format(ckWarehouse.ordertime,'yyyy-MM-dd')}]]</cite>
    </li>
    <li>
      <label>总金额</label>
       <cite>￥[[${ckWarehouse.money}]]</cite>
    </li>
    <li>
      <label>操作人</label>
      <cite>[[${ckWarehouse.usernames}]]</cite>
    </li>
    <li>
      <label>审核状态</label>
      <cite>[[${ckWarehouse.shzts}]]</cite>
    </li>
    <li>
      <label>审核意见</label>
      <cite>[[${ckWarehouse.shyj}]]</cite>
    </li>
    <li>
      <label>审核人</label>
      <cite>[[${ckWarehouse.usernamess}]]</cite>
    </li>
    <li>
      <label>审核时间</label>
      <cite>[[${#dates.format(ckWarehouse.shsj,'yyyy-MM-dd HH:mm:ss')}]]</cite>
    </li>
    <li>
      <label>出货仓库</label>
      <cite><a href="../storage/storageView.html" title="点击查看客户详细信息" class="tablelink">[[${ckWarehouse.cname}]]</a></cite>
    </li>
    <li>
      <label>出库时间</label>
      <cite>[[${#dates.format(ckWarehouse.cDate,'yyyy-MM-dd HH:mm:ss')}]]</cite>
    </li>
    <li>
      <label>出库人</label>
      <cite>[[${ckWarehouse.username}]]</cite>
    </li>
    <li>
      <label>出库状态</label>
      <cite>[[${ckWarehouse.states}]]</cite>
    </li>
  </ul>
  <table class="tablelist">
      <thead>
        <tr>
          <th>序号</th>
          <th>品牌</th>
          <th>类型</th>
          <th>型号</th>
          <th>数量</th>
          <th>单位</th>
          <th>单价</th>
          <th>金额</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>联想</td>
          <td>笔记本电脑</td>
          <td>T470</td>
          <td>10</td>
          <td>台</td>
          <td>9998</td>
          <td>99980</td>
        </tr>
        <tr>
          <td>2</td>
          <td>联想</td>
          <td>笔记本电脑</td>
          <td>X260</td>
          <td>5</td>
          <td>台</td>
          <td>5500</td>
          <td>27500</td>
        </tr>
      </tbody>
  </table>
  <div style="margin-top:20px; margin-left:20px;">
  <input name="" type="button" class="btn" value="返回" th:onclick="window.location.href='/rep/ckware/allckware?pageNum=[[${pageNum}]]&&index=[[${index}]]&&wid=[[${wid}]]'"/>
  </div>
</div>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
