<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
<script type="text/javascript">
  //金额格式化
  function format_with_regex(number) {
    return !(number + '').includes('.')
            ? // 就是说1-3位后面一定要匹配3位
            (number + '').replace(/\d{1,3}(?=(\d{3})+$)/g, (match) => {
              return match + ',';
            })
            : (number + '').replace(/\d{1,3}(?=(\d{3})+(\.))/g, (match) => {
              return match + ',';
            });
  }
  //order数据回显
  function orderBack(){
    $.ajax({
      url:"/market/OrderBack",
      method:"post",
      data:{},
      success:function (result) {
        let orders = result.resultData;
        let ordermoney = format_with_regex(orders.ordermoney);
        let str = '<li>\n' +
                '      <label>订单编号</label>\n' +
                '      <cite>'+orders.orderid+'</cite>\n' +
                '    </li>\n' +
                '    <li>\n' +
                '      <label>客户姓名</label>\n' +
                '      <cite><a href="/market/customerView?id='+orders.customid+'" title="点击查看客户详细信息" class="tablelink">'+orders.customname+'</a></cite>\n' +
                '    </li>\n' +
                '    <li>\n' +
                '      <label>联系电话</label>\n' +
                '      <cite>'+orders.telephone+'</cite>\n' +
                '    </li>\n' +
                '    <li>\n' +
                '      <label>订购时间</label>\n' +
                '      <cite>'+orders.ordertime+'</cite>\n' +
                '    </li>\n' +
                '    <li>\n' +
                '      <label>总金额</label>\n' +
                '       <cite>￥'+ordermoney+'</cite>\n' +
                '    </li>\n' +
                '    <li style="display: none">\n' +
                '      <label>总金额</label>\n' +
                '      <input id="pageNum" value="'+orders.pageNum+'" />\n' +
                '    </li>\n' +
                '    <li>\n' +
                '      <label>操作人</label>\n' +
                '      <cite>'+orders.operator+'</cite>\n' +
                '    </li>';
        $("#info").html(str);
        $(".textinput").val(orders.opinion);
      }
    })
  }
  //orderDetail数据回显
  function orderDetailBack(){
    $.ajax({
      url:"/market/orderDetailBack",
      method:"post",
      data:{},
      success:function (result) {
        let orderdetails = result.resultData;
        console.log(orderdetails);
        let str = '<thead>\n' +
                '        <tr>\n' +
                '          <th>序号</th>\n' +
                '          <th>品牌</th>\n' +
                '          <th>类型</th>\n' +
                '          <th>型号</th>\n' +
                '          <th>数量</th>\n' +
                '          <th>单位</th>\n' +
                '          <th>单价</th>\n' +
                '          <th>金额</th>\n' +
                '        </tr>\n' +
                '      </thead>\n' +
                '      <tbody>';
        for (let i = 0; i < orderdetails.length; i++) {
          str += '<tr>\n' +
                  '          <td>'+(i+1)+'</td>\n' +
                  '          <td>'+orderdetails[i].btand+'</td>\n' +
                  '          <td>'+orderdetails[i].type+'</td>\n' +
                  '          <td>'+orderdetails[i].product+'</td>\n' +
                  '          <td>'+orderdetails[i].purchaseNum+'</td>\n' +
                  '          <td>'+orderdetails[i].productUtil+'</td>\n' +
                  '          <td>'+orderdetails[i].proprice+'</td>\n' +
                  '          <td>'+orderdetails[i].prototal+'</td>\n' +
                  '        </tr>';
        }
        str += '</tbody>';
        $(".tablelist").html(str)
      }
    })
  }
  //审核
  function examine(){
    let opinion = $(".textinput").val();
    let status = $(".dfselect").val();
    if (status != "请选择"){
      $.ajax({
        url:"/market/orderExamine",
        method:"post",
        data:{opinion:opinion,status:status},
        success:function (result) {
          alert(result.msg);
        }
      })
      re();
    }else {
      alert("请审核是否通过");
    }
  }
  //返回
  function re(){
    let pageNum = $("#pageNum").val();
    location.href="/market/orders/ordersAll?pageNum="+pageNum;
  }
  $(function () {
    orderBack();
    orderDetailBack();
  })
</script>
</head>

<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li>营销管理</li>
    <li>订购单审核管理</li>
    <li>审核</li>
  </ul>
</div>
<div class="formbody">
  <div class="formtitle"><span>订购单审核</span></div>
  <ul class="forminfo" id="info">

  </ul>
  <table class="tablelist">

  </table>
  <ul class="forminfo">
    <li>
      <label>审核意见</label>
      <textarea class="textinput"></textarea>
    </li>
    <li>
      <label>审核状态</label>
      <select class="dfselect">
          <option>请选择</option>
          <option value="2">通过</option>
          <option value="3">不通过</option>
      </select>
    </li>
    <li>
      <label>&nbsp;</label>
      <input name="" type="button" class="btn" value="审核" onclick="examine()"/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="" type="button" class="btn" value="返回" onclick="re()"/>
    </li>
  </ul>
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
